[2018-09-20 15:18] timgdavies opened #1 "Discussion: Contract status"
## The issue

'Contract Status' is one of the [Infrastructure Data Standard Elements](http://infrastructuretransparency.org/resource/guidance-note-6-designing-a-disclosure-process/).

The draft 'guidance note 9' states that values for this should:

However, these categories do not map to OCDS categories. In OCDS, we have status values for [tender](http://standard.open-contracting.org/latest/en/sch

[2018-09-20 17:30] jpmckinney opened #2 "Typo: Locations component refers to Identifier definition"
https://github.com/open-contracting/infrastructure/blob/profile-draft/docs/projects/reference.md#locations

[2018-09-20 17:34] jpmckinney opened #3 "How to sync definitions in project-schema.json with OCDS"
[project-schema.json](https://github.com/open-contracting/infrastructure/blob/profile-draft/schema/project-level/project-schema.json) re-uses many object definitions and field descriptions from OCDS and extensions. Some extensions are referred to (e.g. budget breakdown), whereas others are not (e.g. documentation details, location, contract register).

1. I see that `uri` is missing from `Classifi

[2018-09-20 17:53] jpmckinney opened #4 "Typo: ReleaseList -> ReleaseListEntry"
Otherwise, the link to ReleaseListEntry doesn't work at https://open-contracting.github.io/infrastructure/projects/reference/#project-schema.json,/definitions/ContractingProcess,releaseList

[2018-09-20 18:00] jpmckinney opened #5 "Variations as OCDS extension"
Is it anticipated that variations will be added as an OCDS extension, so that, where OCDS is used, `releaseList` can be a simple list of linked releases? And how do these compare, conceptually, to amendments? FYI, EU uses the term 'modifications'.

[2018-09-20 18:12] jpmckinney opened #6 "Typo: roles is repeated in Organization table"
https://open-contracting.github.io/infrastructure/projects/reference/#organization

[2018-09-20 18:17] jpmckinney opened #7 "Typo: 'Contract firms(s)' markup"
Markdown link is not rendered: https://open-contracting.github.io/infrastructure/cost/

[2018-09-20 18:19] jpmckinney opened #8 "Typo: .role -> .roles"
https://open-contracting.github.io/infrastructure/cost/

[2018-09-20 18:51] jpmckinney opened #9 "Presentation of contract-level information in project schema"
The [CoST-IDS mapping](https://open-contracting.github.io/infrastructure/cost/) refers only to `ContractingProcess` when mapping process-level information. However, I would have anticipated, at least, a parallel mapping to OCDS fields for cases where there is an OCDS publication; this is presently only reflected, on that page, as a note that automatic population is possible (I assume this will be

[2018-09-23 21:51] duncandewhurst opened #10 "Discussion: Project Status Codelist"
In the current version of the project level schema, `phase` is an open codelist with the following codes:

* identification
* preparation
* construction
* completion

This differs from the project phases defined in [CoST guidance note 6](http://infrastructuretransparency.org/wp-content/uploads/2011/12/31_CoST_Guidance_Note_6_Proof.pdf) which uses 'implementation' rather than 'construction'.

The d

[2018-09-23 22:03] duncandewhurst opened #11 "Discussion: Contract types (and focus codelist)"
In the alpha version of the project level schema, the `contractingProcess/focus` codelist uses the following codes:

code | title | description
-------|------|--------------
design | Design | This contracting process relates to design of the project.
build | Build | This contracting process relates to build or construction work for the project.
supervision | Supervision | This contracting process

[2018-09-23 22:16] duncandewhurst opened #12 "Proposal: Add address as top level field in project level schema"
In the alpha project level schema, `address` is added to the `location` object .

**Proposal:**

For consistency with the OCDS location extension, add `address` as a top level field in the project level schema instead.

[2018-09-24 01:55] jpmckinney commented on #3
I see there's a relevant script: https://github.com/open-contracting/infrastructure/blob/profile-draft/schema/borrow-schema.py Nonetheless, I think there can/should be a clear policy as to how the project schema relates to OCDS and extensions.

As a side note, the script refers to a 'Infrastructure Project Transparency Schema/Standard', which should be changed to 'Infrastructure Project Level Data

[2018-09-24 01:58] jpmckinney commented on #12
For additional context, the description of the field is: "A physical address where works will take place"

https://github.com/open-contracting/infrastructure/blob/profile-draft/schema/project-level/project-schema.json#L579-L583

[2018-09-24 02:06] jpmckinney commented on #1
The simplest reading of 'Select from pre-award, active or closed' is that 'Contract Status' (however it's named in the schema) should be a three-value closed codelist of 'preAward', 'active' and 'closed' (camel-casing to be consistent with OCDS code style).

Could you expand the proposal to explain the rationale of departing from the codelist expressed in the draft guidance note 9, which presumabl

[2018-09-24 02:16] jpmckinney commented on #1
If a code is not described, then it is meaningless i.e. entirely open to the interpretation of the data publisher, which renders the data somewhat useless to users. Some description should be provided even if it is challenging to author.

If the three codes from guidance note 9 aren't used, then, for context to the discussion, the status codelists in OCDS are closed and contain:

tenderStatus.csv

[2018-09-24 02:32] jpmckinney commented on #10
I read five phases in guidance note 6:

1. **Project identification** refers to the decision to develop a project within the budget and programme of a project owner, which will be the public entity responsible for executing the budget.
1. **Project preparation** covers the feasibility study, environmental and social impact assessment, general scoping of the project, establishing the packaging and

[2018-09-24 02:42] jpmckinney opened #13 "`enum_titles` and `enum_descriptions`"
Why are these included in the schema? Aren't these represented in codelist CSV files? The CSV files are more easily patched by extensions (e.g. `+documentType.csv`). Patching an array means re-writing the entire array, which makes it impossible to apply multiple patches, and which requires extensions to contain a copy of the original array, which is error-prone, and introduces a requirement to upd

[2018-09-24 02:44] duncandewhurst commented on #10
thanks @jpmckinney

Ah, well spotted, the omission wasn't intentional, the CoST guidance note states:

![image](https://user-images.githubusercontent.com/19265814/45936175-e9477800-bf89-11e8-9308-f85bc519ec2b.png)

We can explore in the consultation at data standards day whether it is important to include that in the description of the implementation code.

Simply that in CoST implementation 'cove

[2018-09-24 02:49] jpmckinney commented on #10
Indeed, 'the procurement' in the description of 'implementation' suggests it covers tender, etc. However, given that CoST lists 'procurement' as a separate phase, I wonder whether it's a typo, as it wouldn't make sense for a phase to include another phase. I'd prefer a definition of 'implementation' that omitted 'the procurement and' – though this may need to be validated with CoST and stakeholder

[2018-09-24 02:55] jpmckinney commented on #10
In the draft guidance note 9, this field is named 'Project status (current)' and described as "The current stage of the project. Select from identification, preparation, construction or completed"

'completed' has different semantics than 'completion'. The latter can mean 'in the process of completion' or 'in the final stages of completion'. I take guidance note 6 as having the intended semantics,

[2018-09-24 03:04] jpmckinney commented on #11
I find the misalignment between code and title to be confusing – most codelists have a closer match between the two. If you want to use multiple synonyms, I think it's best to do so in the description, rather than alternating words across code and title.

In the draft guidance note 9, I see 'Contract type' with the description "Develop a list such as Design, Supervision, Design & Supervision, Desi

[2018-09-24 03:11] jpmckinney opened #14 "Project status"
I don't see a corresponding field in CoST IDS ('Project status (current)' instead corresponds to project phase). The codes in its codelist are:

* planned
* active
* complete
* cancelled

If the field is retained, it would be consistent with other codelists to use 'completed' instead of 'complete'.

[2018-09-24 16:45] timgdavies commented on #13
This was for ease of authoring. Part of the work-in-progress will be to break these out as CSV files.

I'll aim to get that done later in the week.

[2018-09-24 16:54] timgdavies commented on #9
This is a good and important discussion.

To weigh up, there are also risks of not having process level data in the project schema, in that:

* Publishers are then only able to provide contracting process information if they implement **both** project level schema **and** OCDS, which makes adoption more challenging;

* If we ask users who are looking for 'simple' values (like `contractValue`) to u

[2018-09-24 16:57] timgdavies commented on #7
Thanks. Fixed in source, and will update rendered version shortly.

[2018-09-24 16:57] #7 closed

[2018-09-24 17:15] timgdavies commented on #6
This seemed to be an issue with the ``jsonschema::`` directive as far as I can see, and occurs [as a result of the latest commit](https://github.com/OpenDataServices/sphinxcontrib-jsonschema/commit/7b696eef47cc14c46a20c67abff18dc794e2f6cc).

I'll open an issue against that repo to see if we can fix this.

[2018-09-24 17:33] timgdavies commented on #3
I'll add a bit more text to borrow-schema.py to explain what is going on in there.

I've added this to a 1.0 milestone, as policy and governance development are out of scope of the current alpha/beta work.

[2018-09-24 17:36] #2 closed

[2018-09-24 17:40] timgdavies commented on #12
The reason for including address in `location` is that it is one of the ways to provide location, choosing between:

* Geometry
* Gazetteer
* Address

Whereas putting it at the top level would make the semantics of the address unclear, and leave the suggestion that publishers need to provide one of Geometry or Gazetteer in order to locate a project.

I don't think there is a requirement to be cons

[2018-09-24 17:43] timgdavies commented on #14
I've updated the title to reflect the question to consult on:

* Do we need the 'project status' field? Or is project phase (See #10) alone enough.

I see there as an important distinction between a project being completed vs. being in 'completion' phase when final checks may still be taking place before it is actually judged complete.

Similarly, being able to identify cancelled projects may be i

[2018-09-24 17:53] timgdavies commented on #11
Thanks both. The CoST documentation is inconsistent in term use, and I got caught out there - using one set for the codes, and then another set of terms in the descriptions. That was unintentional - but I've now updated the draft schema to settle on just 'design', 'build' and 'supervision' which appear to be the wider used terms as far as I can see.

I've updated  the table in Duncan's post above

[2018-09-24 17:54] timgdavies opened #15 "Discussion: Socioeconomic purpose"
CoST IDS has an element titled "Purpose" and in draft guidance note 9, this is described as:

Should we have a field for this in the project level data specification? If so, should it be free text, a document, or using some sort of codelist?

[2018-09-24 18:01] timgdavies opened #16 "Discussion: Sector classification"
## The problem

The CoST IDS asks for projects to be classified by **sector** and **sub-sector**. Guidance suggests these lists should be developed on a national basis:

and

respectively.

However, in draft work, the CoST team have suggested use of a sector list from the [PPP Certification guide](https://ppp-certification.com/ppp-certification-guide/4-where-ppps-are-used-%E2%80%93-infrastructure-

[2018-09-24 18:03] timgdavies commented on #8
This should be fixed.

[2018-09-24 18:03] #8 closed

[2018-09-24 19:41] jpmckinney commented on #11
I also see the possibility for confusion. On the other hand, we already have a status field for both project and contract – which I think is using the word 'status' correctly and consistently. If 'phase' would similarly be used correctly and consistently for both project and contract, then I think it's simpler – for reader's conceptual clarity – to have two objects (project, contract) with two fie

[2018-09-24 19:44] jpmckinney commented on #3
Pre-1.0, it may still be useful to document what was re-used and to identify and explain any differences, to inform later policy and governance work.

[2018-09-24 19:54] jpmckinney commented on #14
Is there a conceptual difference between the `status` and `phase` fields? If not, should the codes for this field be added to (or otherwise consolidated with) the codes for the phase field?

[2018-09-24 19:58] jpmckinney commented on #6
I can only see that commit being responsible if you are seeing both "Collapse values don't exist" and "Include values don't exist" during the build – which are errors that should be corrected. Are you seeing either message?

[2018-09-24 20:57] jpmckinney commented on #14
One way to test whether it makes sense to have both `status` and `phase` is to see whether different combinations of the two make sense, i.e. whether they are orthogonal concepts. For example, can 'completed' go with anything other than 'completion'? Can 'planned' go with anything other than 'identification' or 'preparation'?

The status codes have no description, so I don't know their intended se

[2018-09-24 21:01] jpmckinney commented on #12
I think it's fine for there to be an `address` field within a `Location` object. We presently only have `address` at `Organization.address`, so there isn't a deep precedent for where `address` fields go.

[2018-09-24 21:28] jpmckinney commented on #5
I agree that amendments and variations are distinct concepts.

Similar to CoST IDS, the EU [Form 20 (Modifications)](http://simap.ted.europa.eu/documents/10184/99173/EN_F20.pdf) focuses on a small number of possible modifications: price (value), duration, scope (description, CPV), location. I haven't mapped Form 20, [because it may disappear](http://standard.open-contracting.org/profiles/eu/master

[2018-09-24 21:54] jpmckinney commented on #9
The `ContractingProcess` definition is not so far off from being aligned with the release-schema.json. For example, if some fields were scoped within `tender`, `award` and `contract` objects/arrays, then there would already be more alignment between the two. I don't think having these objects and arrays makes implementation and use too onerous on implementers or users. Essentially, my first, unnum

[2018-09-24 21:59] jpmckinney commented on #15
For context, 'Purpose' is also in Guidance note 6 under 'Project Identification'.

[2018-09-24 22:15] jpmckinney commented on #16
FYI, COFOG can be [consulted here](https://unstats.un.org/unsd/publications/catalogue?selectID=145).

COFOG is broader than infrastructure, but a subset may be appropriate. For the benefit of other participants, COFOG stands for 'Classification of the Functions of Government'. It's a good classification scheme for describing the 'sectors' of *government organizations*, e.g. the EU uses it for the

[2018-09-25 14:05] jpmckinney commented on #16
FYI, PPPCERT can be [consulted here](https://ppp-certification.com/ppp-certification-guide/4-where-ppps-are-used-%E2%80%93-infrastructure-sectors). Would the codelist be based on the 'Sector' column of Table 1.5?

[2018-09-25 14:28] timgdavies opened #17 "Discussion: Distinguishing construction and maintenance contracts"
Via a comment from Bernadine Fernz on our demonstrator:

This suggests a couple of *possible* fields and relationships that the data could contain, and/or requirements for an interface:

(1) A field to distinguish maintenance from original construction;
(2) Fields to link a contract to past contracts related to the same items of infrastructure;
(3) Interface design that shows 'nearby contracts' fr

[2018-09-25 14:32] timgdavies opened #18 "Implementation guidance: Linking to related information from transparency portals"
John Hawkins observed:

We should consider including implementation guidance that encourages the creators of transparency portals to consider the information that citizens will want, and to include this alongside more in-depth scrutiny-related information.

[2018-09-26 18:11] jpmckinney commented on #18
The specific example seems more the scope of transport agencies, perhaps using http://www.open511.org – though guidance can certainly suggest linking to related information.

[2018-09-26 18:12] jpmckinney commented on #18
The issue should perhaps be renamed, 'linking to related information from transparency portals', because 'focus on user needs' is overbroad (could mean too many things).

[2018-09-26 19:46] jpmckinney commented on #17
We might need to further elaborate the use cases before considering options.

A. Are the maintenance contracts considered to be part of the same 'project' as the (original) construction contracts? If so, then (2) is unnecessary, as they are already linked through the project.

B. Which code would a maintenance contract use for contract focus (contract type in CoST IDS)? Is 'construction' the appro

[2018-09-28 23:30] duncandewhurst commented on #15
From consultation at IODC:

* This element has been interpreted differently in different implementations (since guidance note 9 is unpublished)
* Ideally it should be a codelist (no specific classification was suggested) plus a free text field

[2018-09-28 23:36] duncandewhurst commented on #11
From IODC consultation:

* Design, Construction, Supervision (and combinations thereof) are the preferred codes
* Verification was also proposed as an additional contract type which some CoST implementers have included in monitoring but there wasn't clarity on what a verification contract was exactly
* The codelist should be open, to permit other types of contract to be linked to the project

[2018-09-28 23:39] duncandewhurst commented on #16
From consultation at IODC:

* Use of the PPPCERT codelist (with some adaptations to the sub-sectors) was based on consultation with 13 countries by CoST
* There were concerns raised about allowing choice between PPPCERT and COFOG for data interoperability
* There should be two codelists: a closed codelist for sector and an open codelist for sub-sector

[2018-09-28 23:46] duncandewhurst commented on #17
Notes from IODC consultation:

No, these are separate projects.

This was considered to be important, with a further option proposed of 'rehabilitation' or 'reconstruction', e.g. original construction would be when a bridge is first built, maintenance would be something carried out whilst the bridge is still operational, rehabilitation would be when the bridge has collapsed and needs rebuilding.

[2018-10-04 14:15] timgdavies commented on #17
Discussed and identified that we should be able to add/update fields to cover asset lifetime and project type, and that a 'maintenance' project focus would be helpful also.

I'll investigate staging these shortly.

As some these fall outside the CoST IDS, language should be 'may provide' not 'should provide', and they would not appear in the mappings.

[2018-10-04 14:18] timgdavies commented on #16
This will require addition of a sub-sector field, and we may be able to simplify sector to a single field rather than object with a closed codelist.

We will need to create a CSV copy of the forked PPPCERT list, and manage this.

There may be IP issues with that, to check with CoST on.

[2018-10-04 15:06] timgdavies commented on #11
We discussed this issue and I would advocate for maintaining a close codelist, to ease use of this field in analysis, and interface design.

We have two main options then:

(1) The definition of 'design' is broadened to include 'preparation', and 'supervision' to also include 'verification'

(2) Additional codes are added for 'preparation' and 'verification'

We should explore (1) in the first ins

[2018-10-08 10:17] timgdavies commented on #9
I'm not sure I see the grounds for your assertions that this would not make implementation and use too onerous, nor that the suggested approach doesn't contribute to the risks noted.

Your proposal appears to place the burden on interpreting 'summary values' onto the user rather than publisher of the data - which, from my experience of implementation - is something we want to avoid.

It may help t

[2018-10-09 11:07] timgdavies commented on #9
At @duncandewhurst's request I've done some more detailed exploration of modelling options here.

## Structure

@duncandewhurst has raised that one method of alignment between `ContractingProcess` and an OCDS release, to avoid similar-but-different data structures would be to, where a `ContractingProcess` summary field would be derived from a particular field in OCDS releases, to follow the struct

[2018-10-09 11:33] timgdavies commented on #1
The discussions we've had suggest that Guidance Note 9 remained unpublished because many fields did not have worked up reasons for their suggested codelists. I've generally presumed that GN9 is informative, but that it has been built from the assumption of manual data entry. In context of OCDS data, we may have more detail available.

This is an unhelpful overstatement. Codes use english language

[2018-10-09 13:53] jpmckinney commented on #1
While the interpretation is not unbounded, a single word is too ambiguous. OCDS and extensions contain many descriptions of codes that are not 'tight', but that nonetheless narrow the range of interpretations. I understand that we don't know everything (full set of use cases, detailed analysis of source data), but we can nonetheless write a description that reflects what we do know, with enough am

[2018-10-09 14:42] timgdavies commented on #14
I think it would be possible to add 'completed' and 'cancelled' to phase and get a single codelist to cover these both. I'm going to stage that change now, but leave this issue open to note this needs further review before the beta.

As discussions in https://github.com/open-contracting/standard/issues/395 highlight, getting the right code(s) for when a project or contracting process has ended can

[2018-10-09 15:14] timgdavies commented on #10
I've staged updates here https://github.com/open-contracting/infrastructure/commit/f19f5e1eabf0a1fe436a0cac35e18c5a95bef81d which consolidate project phase  and status into one list consisting of:

| Code           | Title          | Description

[2018-10-09 15:54] timgdavies commented on #1
Going back to the original proposal, this suggested providing a business logic mapping between the properties of `releases` fields and `ContractingProcess.status`.

Given [comment 2](https://github.com/open-contracting/infrastructure/issues/1#issuecomment-423865248), the targets in `ContractingProcess.status` for that mapping could be:

* pre-award
* active
* closed

Or (or a variation on):

* pla

[2018-10-09 17:01] jpmckinney commented on #14
Given merger, discussion continued in https://github.com/open-contracting/infrastructure/issues/10

[2018-10-09 17:20] jpmckinney commented on #1
Given the ambiguous status of draft Guidance Note 9, I don't know if the three values were the result of consultation and discussion, or simply one person's opinion. That said, the three statuses are close to a 'common denominator' among statuses seen in procurement data and portals. The question then is whether users need more granular statuses within the contract summary (whose general design is

[2018-10-09 17:51] jpmckinney commented on #1
Some suggested tweaks, to cover more edge cases:

code | business logic | definition
-- | -- | --
pre-award | There are no `awards` or `contracts`, or all `Award.status` and `Contract.status` are 'pending'  | No contract has yet been awarded.
active | One of: There is at least one `Contract.status` of 'active' | A contract was awarded, but not all contracts have ended.
closed | One of: `tender.sta

[2018-10-10 08:41] timgdavies commented on #9
On `contractingProcesses` -> `contractingProcessSummaries` - I think [the documentation is already very clear about what `contractingProcesses` should contain](https://open-contracting.github.io/infrastructure/projects/reference/#project-schema.json,,contractingProcesses), and it is not true to say that it is **only** a summary found under here: it also provides access to releases with much more d

[2018-10-10 09:53] timgdavies commented on #1
Thanks for the additional logic.

I've put this into an update that makes the codelist include the simple three values.

I've moved this issue to alpha release, and will close: although @duncandewhurst & team may want to just pick up on this field in any follow up consultations with CoST team.

[2018-10-10 09:53] #1 closed

[2018-10-10 10:34] timgdavies commented on #10
The definitions were not taken from an external document.

Given time constraints - I'm moving this issue to beta, so that the final definition of codelist entries can be agreed after discussion with CoST

[2018-10-10 10:53] timgdavies opened #19 "Add document section to contractingProcesses"
After reviewing the **reactive disclosure** needs set out in the Infrastructure Data Standard, we identified that many may be provided through either:

* Text narrative or documents;
* Structured data fields within an extended OCDS release;

Recognising that it will not always be possible to provide that structured data, and that additional reactive disclosures are likely to be narrative in form,

[2018-10-10 11:27] timgdavies opened #21 "Docs generation: add in token replacement for codelist links"
For reasons of time, at present I've included codelist links in the schema on the assumption that they will be rendered on the same page as the codelist can be found. E.g:

[code]

This will need replacing in the final version with absolute links, ideally which include tokens to allow version and language to be substituted at compile time. There is an established model in OCDS it should be possibl

[2018-10-10 11:31] timgdavies opened #22 "Docs generation: deploying as an OCDS profile or stand-alone site?"
At present, we're hosting the draft documentation using GitHub pages, because I could not work out whether it was possible to run the `make` scripts on a ReadTheDocs infrastructure, nor how to quickly set-up travis etc. to deploy docs.

This means that (a) we can easily deploy one copy on GitHub Pages right now; (b) the gh-pages branch has to be manually updated with the output of a locally run bu

[2018-10-10 15:05] jpmckinney opened #23 "Few comments on recent commits"
I don't know if only the author is notified of comments on commits, so including a link to the comments here:

* https://github.com/open-contracting/infrastructure/commit/bc54cee59a2ffa3f01eac0a57f201985514f7a60
* https://github.com/open-contracting/infrastructure/commit/3440cffb7082e223d2d342c0162654fc03ab7f96
* https://github.com/open-contracting/infrastructure/commit/17ca4ce4a1164379b051c1b6e50

[2018-10-10 15:46] jpmckinney commented on #23
The comments were automatically included in https://github.com/open-contracting/infrastructure/pull/20

[2018-10-10 15:46] #23 closed

[2018-10-10 16:18] jpmckinney commented on #11
So that it's not lost, repeating that `phase` might be preferred to `focus` https://github.com/open-contracting/infrastructure/issues/11#issuecomment-424099477

[2018-10-10 17:10] jpmckinney commented on #16
It might be the case that there is no good list to use. I did a little exploring and found classifications of sectors by the PPP Knowledge Lab (also in the World Bank Group) (Note: The website doesn't always load, so you might need to use the Internet Archive.) Its lists omit the division between 'economic' and 'social', which I agree is not a robust division.

Here's its main list: https://pppkno

[2018-10-10 17:40] jpmckinney commented on #16
If I take the first list as a starting point, and compare to the PPPCERT list, I get the list below.

I removed the repeated subsectors mentioned above:

* Irrigation from Water & Sanitation
* Urban Revitalization from Tourism
* Urban Transport from Municipal
* Urban Water & Sanitation from Municipal

I added from the second list above, from under Social and government infrastructure:

* Prisons
*

[2018-10-10 21:08] jpmckinney commented on #16
Looking for similar lists of sectors (which I sometimes group under parenthesized headings):

US National Research Council https://www.nap.edu/read/798/chapter/3 in a footnote:

* (Energy)
  * electric power generation …
  * electric power … transmission
* telecommunications
* (Transport)
  * airports and airways
  * highways, streets, roads, and bridges
  * mass transit
* (Water & Waste)
  * wate

[2018-10-12 08:36] Bjwebb commented on #6
I've been reproducing this locally, and I think its this commit that causes the change: https://github.com/OpenDataServices/sphinxcontrib-jsonschema/commit/805612ae0f185b4dbbf304e062eba797c101061f
This also changes how arrays are handled, so looks a likely culprit.

[2018-10-12 13:49] timgdavies commented on #6
Thanks @Bjwebb. Flagging to @duncandewhurst that the pinned commit for sphinxcontrib-jsonschema will need updating once the fix is in place, and the docs rebuilt accordingly.

[2018-10-15 05:54] Bjwebb commented on #6
Here's the PR that should fix this https://github.com/OpenDataServices/sphinxcontrib-jsonschema/pull/14

[2018-10-19 09:08] EvelynDinora commented on #11
I think we should maintain a closed codelist to facilitate disclosure. Design, Supervision and Construction and a combination of 2 and 3 of them.

If we have some exceptional cases such as verification (its a technical and administrative audit to construction and supervision companies) option 1 would my preferred one:

(1) The definition of 'design' is broadened to include 'preparation', and 'supe

[2018-10-19 09:29] EvelynDinora commented on #11
Also I want to refer to focus and phase. I think none of them are appropriate. It should be something like Contracttype or Contractservices or something else that really tell what should be selected from the code list.

[2018-10-19 17:03] jpmckinney commented on #11
The trouble with 'type' is that 'type' is also used in other contexts to distinguish between, e.g. framework agreements, partnership agreements, concession agreements, lease agreements, etc. which are all different 'types' of contracts.

'Design', 'Construction' and 'Supervision' tend to follow a chronological order, so a word that implies a sequence is preferred. Such words include phase, stage,

[2018-10-25 10:19] duncandewhurst commented on #22
I've just edited Tim's instructions, to include switching to the gh-pages branch, otherwise changes will be pushed to the master branch

[2018-10-25 10:38] duncandewhurst opened #24 "Check that a csv is present for all codelists referenced in the schema"
@jpmckinney spotted a duplicated `copy_codelist` reference in https://github.com/open-contracting/infrastructure/commit/bc54cee59a2ffa3f01eac0a57f201985514f7a60#r30849020

Before deploying the beta version we should check that all codelists referenced in the schema have an associated codelist csv, in case the duplicate should have referenced a different codelist

[2018-10-25 11:54] duncandewhurst opened #25 "Review and merge document type codelists"
Currently the `schema/project-level/codelists` directory contains two documentType codelists:

* `+documentType.csv` which contains the new codes introduced in the project level data specification
* `documentType.csv` which contains all the codes from the OCDS for PPPs profile

Not all codes from OCDS for PPPs are relevant to the project level data specification and we should aim to have a single

[2018-10-25 15:42] jpmckinney commented on #9
I'll address the above comment in separate comments.

In OCDS, a record has two field for details (`releases` and `versionedRelease` – neither contains more information than the other) and a field for a summary (`compiledRelease` – which contains less information, as prior values are omitted). If the data structure for a record were instead that the compiled release had a field for releases (like

[2018-10-25 16:45] jpmckinney commented on #5
Coming back to this issue based on conversation in #9:

Having `variations` where it is now essentially allows a user to link to a release and annotate it, when they neither control the source of the OCDS data nor want to author a full release as an alternate means of annotation (where they would use a new extension, based on the common practice of describing modifications, as noted above).

I thi

[2018-10-25 17:14] jpmckinney commented on #9
It seems Tim's comment is cut-off. Many comments seem tangential to the proposed changes – but I generally agree, and I fully understand the variety of scenarios this project is intending to support.

I, however, simply don't see much reason to have two very similar but incompatible schema for contracting data, and I don't see how aligning schema to achieve compatibility causes any harm.

I worked

[2018-10-31 23:10] jpmckinney opened #26 "Build process"
I've updated and simplified the default build process for OCDS documentation. However, when trying to write a PR for this repo, I'm confused that requirements.in uses an unpinned version of Sphinx, and a version of recommonmark that is incompatible with the rest of our tooling. Is requirements.in in use, and if not can it be deleted?

The repository also omits Babel configuration files, which are

[2018-11-07 14:13] duncandewhurst commented on #19
Closed by https://github.com/open-contracting/infrastructure/commit/2cb7d69ba0cef41478dc170ce4dc9cd127780995

[2018-11-07 14:13] #19 closed

[2018-11-07 14:17] duncandewhurst commented on #22
Related to #26

[2018-11-07 14:21] #12 closed

[2018-11-07 15:33] duncandewhurst commented on #10
I've made the updates to code descriptions proposed by @jpmckinney on [this branch](https://github.com/open-contracting/infrastructure/tree/10-projectStatus-updates)

I think the only outstanding question in this issue is naming the following code:

Code | Title | Description
---|---|---
construction | Construction | Project implementation covers the procurement and implementation of the group of

[2018-11-07 16:04] duncandewhurst commented on #11
Agree we should avoid 'type', in addition to the examples from @jpmckinney 'type' has also been proposed in the past to distinguish between fixed price, cost plus, time based contracts etc.

@EvelynDinora the description of this field is:

With that additional context, would you be happy with renaming the field to 'phase'?

[2018-11-07 16:42] jpmckinney commented on #15
I just noticed that `additionalClassifications` refers to COFOG:

However, I expressed concerns in https://github.com/open-contracting/infrastructure/issues/16#issuecomment-424143570 about using COFOG for purposes (no pun intended) for which it wasn't designed. It doesn't seem like COFOG can describe the social or economic focus of a project. Can you provide an example about the appropriateness of

[2018-11-07 18:52] jpmckinney commented on #26
Are 'schema browser' and 'docson' the same thing? In `standard`, 'docson' is checked out into the appropriate directory, through a `.gitmodules` file with the contents:

[code]

For this repo, I think we'd change `standard/docs/en/_static/docson` to `_static/docson`. If you then run `git submodule update` it should pull in the files (I don't know if you need to run `git submodule init` first).

[2018-11-07 18:53] jpmckinney commented on #26
Nevermind, I see that this repo already has a `.gitmodules` file. You might just need to run the `git` commands then.

[2018-11-09 17:44] duncandewhurst commented on #9
From discussion with @kindly we think aligning the structure of `contractingProcess` with `compiledRelease` makes sense for the reasons at the end of @jpmckinney's most recent comment.

There are some concerns regarding naming however:

The concern here is potential for confusion with an OCDS record, which is a different thing, because in OC for Infrastructure the `ContractingProcess` doesn't nece

[2018-11-09 18:57] jpmckinney commented on #9
This sounds reasonable, but I'd like to push one point a bit. In OCDS, in contexts where publishers are unable to publish a series of releases, as I remember, our guidance has been to update a single release – essentially treating it as a compiled release. (I can't find an example – do you remember?) In such contexts, records wouldn't have a list of releases, and compiled releases wouldn't be the

[2018-11-12 11:17] kindly commented on #9
@jpmckinney  @duncandewhurst

My current preference is for it too look something like:

[code]

So in short:

- Instead of `compiledRelease` name it `contractingProcess`  (i.e the current state of the contracting process)
- Explicitly say that the releases are OCDS ones not a OCIfra ones by calling it `ocdsReleases`.

I do have a slight issue with `contractingProcess` as a name as it is a singular

[2018-11-13 14:10] jpmckinney commented on #9
I understand that there are technical differences (`releases` being a required field, etc.); my point has been that technical differences don't amount to conceptual differences. That said, the words for the OCDS terms imply technical details ('compiled' release), and the definitions describe technical details (`releases` being required), and so OCDS' terms make a poor choice for reuse (until and u

[2018-11-22 17:34] duncandewhurst opened #28 "Connecting OC for Infrastructure and OCDS for PPPs"
Given that PPPs are a popular mode for delivering infrastructure projects we should consider how data published using OCDS for PPPs and data published using OC for Infrastructure can be connected.

This is out of scope for the initial development of OC for Infrastructure but could be a key issue for supporting implementation and future development of the work.

Noting that in Honduras there are se

[2018-11-28 07:46] EvelynDinora commented on #11
Agree on avoid type. We can use instead contract "category" or contract "nature" or contract "classification". I am not happy with "phase" since in a project not always we have a chronological order to procure those services, there are different ways to proceed including some services provided "in house" by the procuring entities.

[2018-11-28 07:59] EvelynDinora commented on #28
I think is a good idea to think how to connect both. From the Honduras' experience we found it difficult since the project cycle is different. Also the type of data and information produced differs from a traditional infrastructure project and a PPP. Happy to start thinking how to do it despite the mentioned issues.

[2018-11-28 08:15] EvelynDinora commented on #17
I just want you to consider that in some cases an asset such as a road could receive maintenance by segments deferred (no the complete asset) and sometimes there is an agency different from the project owner in charge specifically of road maintenance.

[2018-11-28 08:41] EvelynDinora commented on #16
We prefer to fork a copy of PPPCERT and maintain this a codelist with codes and labels since this classifictaion is specifically for infrastructure. Remember that PPPs can also be used for other purposes not only for infrastructure and is understandable the use of the UN COFOG list for PPPs.

[2018-11-28 09:12] EvelynDinora commented on #15
I think it could be useful use a catalog based on the OECD purpose code list but will consult with other CoST team and come back on this.

[2018-11-28 09:41] EvelynDinora commented on #10
We prefer maintain the 5 phases described in Note 6: Project identification, Project preparation, Procurement [_is the process for selecting different services (design, supervision and or construction etc.) to deliver the project. It runs alongside the project cycle as it can occur at a number of different points]_, Implementation and Project Completion.

We need to modified the description of Imp

[2018-11-28 13:19] jpmckinney commented on #11
Of those, I prefer `nature`, though I'm open to `category`. We use `classification` elsewhere in a different way, so I prefer not to use it here.

[2018-11-28 13:40] jpmckinney commented on #16
@EvelynDinora I reviewed 19 different classifications for infrastructure, and PPPCERT has several issues, so I recommend basing the codelist on it, but taking the opportunity to fix issues that aren't in the other classifications.

For example:
* PPPCERT puts ports and airports together, whereas the 10 other classifications with a transport breakdown put them separately. In the real world, the res

[2018-11-28 15:35] duncandewhurst commented on #26
Yes, that was it. I've created a PR to add the commands to the build process in the handbook: https://github.com/open-contracting/standard-development-handbook/pull/203

Happy for you to go ahead with a PR here based on your assumptions.

[2018-11-28 16:46] jpmckinney commented on #26
When do you expect to make a public build? I'll schedule that PR beforehand.

[2018-11-28 17:20] duncandewhurst commented on #26
Aiming for late next week - though noting there could be some issues to work through in #22 unless you expect the PR will resolve those?

[2018-11-28 17:39] jpmckinney commented on #26
I think #22 is basically done – can you add the gh-pages steps to the readme?

[2018-11-29 09:30] duncandewhurst commented on #26
I've added those steps to the readme and kicked off a discussion on where the documentation should be deployed.

Will the PR update `common-requirements.txt` to include a newer version of sphinxcontrib-jsonschema reference to resolve #6?

[2018-11-29 11:48] duncandewhurst commented on #10
Procurement was omitted from the codelist since it can run alongside different phases of the project as reflected in the draft definition for project status in Guidance Note 9 where it is also omitted:

The diagram in Guidance Note 6 also shows procurement as distinct from (and overlapping) the phases of the project.

![image](https://user-images.githubusercontent.com/19265814/49219780-33a30600-f3

[2018-11-29 12:09] duncandewhurst commented on #11
Great, thanks both, I agree with `nature`.

I've made this update in the schema, added a codelist csv and updated the master copy of the IDS mapping.

[2018-11-29 12:10] #11 closed

[2018-11-29 13:09] jpmckinney commented on #26
Yes :)

[2018-11-29 14:41] duncandewhurst commented on #15
For reference the OECD DAC/CRS codelists are available [here](http://www.oecd.org/dac/stats/dacandcrscodelists.htm) and the most recent version of the purpose codes are available in [this Excel file](http://www.oecd.org/dac/financing-sustainable-development/development-finance-standards/DAC-CRS-CODES.xls).

Similarly to COFOG, the OECD purpose codes cover a much broader scope than infrastructure p

[2018-11-29 14:44] duncandewhurst commented on #15
@jpmckinney I have removed the reference to COFOG from the `additionalClassification` description.

If we find an appropriate codelist we can update the description accordingly.

[2018-11-29 15:02] duncandewhurst commented on #16
@jpmckinney thanks for your comprehensive research in this issue.

I agree that if the specification does not defer to a widely used codelist with an established approach to management then we should base any new codelist on this research rather than only on PPPCERT.

Did your research surface appropriate descriptions for the proposed codes or do you suggest crafting descriptions based on the alte

[2018-11-29 15:11] duncandewhurst commented on #17
Feedback from implementation work with CoST Ukraine:

* The CoST Ukraine portal (which currently covers road projects) captures the guarantee period for the road (i.e. the period for which the contractor guarantees the road surface will be free of defects) which they plan to map to `assetLifetime`.
* No information is captured on links between construction projects and subsequent maintenance or re

[2018-11-29 15:17] duncandewhurst commented on #17
@EvelynDinora thanks for the feedback.

At this stage we are proposing to leave out modelling an explicit link between construction projects and subsequent maintenance or rehabilitation projects, unless a need for this is surfaced in implementation work.

This would mean users would need to compare other attributes of the projects to identify potential relationships (e.g. project names, descriptio

[2018-11-29 15:39] duncandewhurst commented on #18
Since design of infrastructure transparency portals is outside the scope of the documentation, the most relevant place for this guidance seems to be in the [Publishing data from an infrastructure transparency portal](https://open-contracting.github.io/infrastructure/guidance/publishing-from-portal/) implementation guidance.

I have added an admonition to the draft guidance for this section as foll

[2018-11-29 15:46] jpmckinney commented on #16
Most classifications were just a list of words, following by more detailed lists of words, so I agree with your proposal. Some notes:

* We might want to check that we have the best names for 'Governance' and 'Economy'.
* Many classifications break down energy and water/waste, but not in similar ways. So, a breakdown might be desired by users, but I don't think we have a common breakdown to offer.

[2018-11-30 13:50] jpmckinney opened #33 "Schema fixes in follow-up to #29"
* [x] Update `process-level.csv` to follow the updated schema, notably the additional nesting of fields under `tender`
* [ ] Update `smp.json` and `project.json` to follow the updated schema, i.e. that they are valid and have no additional fields
* [x] Fix remaining occurrences of `releaseList` with `releases`. `releaseList` shouldn't appear at all under `LinkedRelease` in the jsonschema directive

[2018-12-04 21:34] jpmckinney opened #34 "Input mapping review"
I was having trouble commenting in Google Sheets, so I am copying the task here. I'm assuming only the first sheet is relevant; let me know if I should be looking at any others.

[2018-12-04 21:51] jpmckinney opened #35 "Errors in project-level output mapping (OC and Infrastructure)"
* [ ] 1. 'owner' -> 'publicAuthority' (there is no 'owner' code) [multiple occurrences]
* [x] 2. `location` -> `locations`
* [x] 3. `gazetter` -> `gazetteer`
* [x] 4. 'scope' -> 'projectScope' (there is no 'scope' code) [multiple occurrences]
* [ ] 5. 'funder' is in the OCDS codelist, but not in the PPP codelist used by this repo
* [x] 6. 'budgetApproval' doesn't exist in any codelist

[2018-12-06 10:01] #6 closed

[2018-12-06 10:01] #26 closed

[2018-12-06 16:36] pindec commented on #21
Codelist links in the schema viewer are currently broken.
Looks like they link to widget.js folder not schema folder.
e.g. projectStatus codelist link rendered in [schema page](https://open-contracting.github.io/infrastructure/projects/schema/) points to https://open-contracting.github.io/infrastructure/_static/docson/index.html#projectstatus

[2018-12-06 16:45] pindec opened #38 "Link to schema in /docs/projects/schema.md broken"
The [schema file is available here] link in [/docs/projects/schema.md](https://github.com/open-contracting/infrastructure/blob/master/docs/projects/schema.md) 404s.

It points to https://open-contracting.github.io/infrastructure/projects/schema/_static/project-level/project-schema.json

[2018-12-06 17:04] pindec opened #39 "Specification reference Variation component missing"
[Variation](https://open-contracting.github.io/infrastructure/projects/reference/#variation) is linked e.g. from variations/duration but does not exist in [/docs/projects/reference.md](https://github.com/open-contracting/infrastructure/blob/master/docs/projects/reference.md#specification-reference)

[2018-12-11 10:37] pindec opened #41 "Dealing with joint ventures"
Infrastructure projects are often awarded to joint ventures, which are sometimes created just for the purposes of the contract.

Do we need a mechanism to disclose the shareholders of these joint ventures?

In OCDS for PPPs, this is dealt with via the [shareholders extension](https://ocds-for-ppps.readthedocs.io/en/stable/extensions/shareholders/), with organizations that appear in the shareholder

[2018-12-11 12:30] duncandewhurst commented on #34
I've updated the mapping in the Google Sheet with these changes, with the exception of

**Project scope** where I've updated the mapping to read:

Since the top level ``.documents`` array referenced in the output mapping doesn't exist in OCDS and because inferring from `tender.items` or `tender.milestones` is relevant for users who do not have any control over the OCDS data they are using for infr

[2018-12-11 12:38] duncandewhurst opened #43 "Review party role codelists"
Relates to items 1. and 5. in https://github.com/open-contracting/infrastructure/issues/35

Currently OC for Infrastructure re-uses the the party role codelist from OCDS for PPPs, however the output mapping suggests using several codes from the core OCDS party role codelist ('funder' from #35 plus 'supplier' in the process level mapping)

Task is to review the mapping and the two codelists, determ

[2018-12-11 12:50] duncandewhurst commented on #35
1 and 5 depend on the resolution to #43

2, 3 and 4 have been addressed in the mapping Google Sheet

6 is addressed in https://github.com/open-contracting/infrastructure/pull/44

[2018-12-11 12:52] duncandewhurst commented on #34
Noting that 'scope' has been updated to read 'projectScope' per https://github.com/open-contracting/infrastructure/issues/35

[2018-12-11 12:55] duncandewhurst commented on #33
The source Google Sheet for the mapping has been updated to reflect the updated schema, once #34 and #35 are complete `process-level.csv` can be updated.

@pindec is working on updates to the sample data.

[2018-12-11 14:55] duncandewhurst commented on #41
@evelynDinora are you aware of any CoST multi-stakeholders groups collecting or using data on the individual companies which make up a joint venture or special purpose vehicle type partnership?

[2018-12-11 18:49] jpmckinney commented on #35
Google Sheet is at https://docs.google.com/spreadsheets/d/1tpXKCrNY1vUEPo6O1j-GPhxgSna7CZ5uwz_eTNLEOr8/edit?disco=AAAACXYu96c&ts=5bfead07#gid=0

[2018-12-11 20:01] jpmckinney commented on #5
Based on how we resolved #9, I now think `variations` should be on `ContractingProcessSummary` (which wasn't an option when I wrote my earlier comment in this issue).

Release IDs are only unique within the context of a contracting process. Do we need to account for a scenario where the `ContractingProcess` has no `releases`, but has `releaseID`'s in `variations` (and that matching OCDS releases d

[2018-12-12 09:54] duncandewhurst opened #47 "Update worked example"

[2018-12-12 10:11] duncandewhurst opened #48 "Update links to OC for Infrastructure Field-Level Mapping Template"
From #46

The following pages of the documentation currently directly to the draft field level mapping template in Google Sheets, these links should be updated once the mapping template is updated and published in the resources section of the OCP website:

- [x] `assess-against-ids.md` (2 occurrences)
- [x] `publishing-from-portal.md`

[2018-12-12 10:14] duncandewhurst commented on #34
From #46, once the input mapping is added to the docs, links on the following pages will need to be updated:

- [ ] `assess-against-ids.md`
- [ ] `contracts-to-projects.md`

[2018-12-12 10:17] duncandewhurst commented on #34
- [ ] TODO from `cost/index.md`, when adding updated mapping tables, format them to better reflect the stages of the IDS.

[2018-12-12 10:20] duncandewhurst opened #49 "Consider a worked example of a data entry form"
TODO from `projects/index.md`, likely based on the example in the [draft OCDS examples and architectures slide deck](https://docs.google.com/presentation/d/1sg28m2QHFCSqcWXimzimH5K1IUz_qsvCvOHO_7DWcgo/edit#slide=id.g39d761a1db_0_50)

[2018-12-12 11:21] duncandewhurst commented on #5
Agree, that makes sense.

I may have misunderstood, but `ContractingProcessSummary` already has an `ocid` field, so I think this scenario is covered.

VII.2.3 explicitly states the pre-modification and post-modification values of the contract, with the helpful clarification that the pre-modification value should include any prior modifications.

Whereas the value in V.2.4 appears to relate to the

[2018-12-12 16:11] jpmckinney commented on #5
Ah right, I was looking at `ContractingProcess` :) Good catch re: VII.2.3.

`rationale` is used in `Planning.rationale`, `Tender.procurementMethodRationale` and `Amendment.rationale` (which are all distinct from each other), so to me it seems like the preferred generic term we use in cases where a reason/explanation is desired. Is there another reason to prefer `reasons`?

[2018-12-12 16:32] duncandewhurst commented on #5
Only that both CoST and the EU forms use it (the two key use cases for this extension), however let's assume that `rationale` was preferred in OCDS for a reason and go with that.

[2018-12-12 18:13] duncandewhurst commented on #38
Closed by https://github.com/open-contracting/infrastructure/commit/fae9560f166fc858177dd3c223db2ebe1801698b

[2018-12-12 18:13] #38 closed

[2018-12-12 19:25] jpmckinney opened #51 "Schema test errors"
I started working to restore the test that was commented out in Travis and fixed some errors already:

* Bad casing of `Code`, etc. in contractNature.csv
* Invalid JSON in the two test files
* Bad line endings in CSV files (`LFCR` or `CRLF` instead of `LF`)
* flake8 and whitespace

However, some issues require discussion:

* [x] 1. It's not specified whether contractingProcessStatus.csv or method.

[2018-12-12 19:32] jpmckinney commented on #51
PR is #52

[2018-12-12 20:54] jpmckinney commented on #3
I reviewed borrow-schema.py in https://github.com/open-contracting/infrastructure/commit/eb71212d0d8a512d35e0167ea100f10a6f75cd2a and I'm satisfied that it now addresses my concerns. The updates to the script resulted in no change to the output.

[2018-12-12 20:54] #3 closed

[2018-12-12 21:16] jpmckinney commented on #35
Re: #43, (1) is my suggestion to change 'owner' to 'publicAuthority'. 'owner' occurs in neither OCDS nor PPPs.

[2018-12-12 22:32] jpmckinney commented on #34
I've left comments in the two sheets.

[2018-12-13 11:57] #18 closed

[2018-12-13 17:50] duncandewhurst commented on #5
I've staged these changes in #45, with the exception of renaming 'variation(s)' to 'modification(s)' which I'll wait for feedback from CoST on.

@jpmckinney @kindly I'm open to suggestions on naming for the new fields, I considered: old/new, before/after, former/latter

[2018-12-13 18:08] duncandewhurst commented on #34
@jpmckinney and I discussed the input mapping and agreed to move `contractPeriod` to `contractingProcessSummary` and to update the definitions for `contractPeriod` and `contractValue` to make it clear that these should be used for the initial value and duration of the contract, with changes recorded in variations, which appears to be the intent of the definitions in draft guidance note 9.

Those c

[2018-12-13 18:20] duncandewhurst commented on #51
Discussed with @jpmckinney:

2. is correct and will be included in alpha-2 - @jpmckinney will update the PR
3. will require more detailed review so we will wait until the beta release.

I'll address the missing properties

[2018-12-14 14:37] duncandewhurst commented on #5
Noting that Belarus publish the following fields:

* contracts/items/execInfo
* contracts/items/execQuantity
* contracts/items/execValue
* contracts/items/execUnit

Which are described as:

Depending on whether the changes constitute an amendment or not, this could be mapped to a future variations/modifications extension.

cc @pindec

[2018-12-18 13:41] duncandewhurst opened #55 "Update Alpha release text on index.md"

[2018-12-19 08:35] duncandewhurst opened #56 "Review schema definitions for repetition of information from IDS/OCDS mapping"
From #34:

[2018-12-19 09:20] duncandewhurst commented on #47
From #33:

[2018-12-19 09:21] duncandewhurst commented on #33
Closing in favour of #47

[2018-12-19 09:21] #33 closed

[2018-12-19 11:26] duncandewhurst opened #58 "Global uniqueness of project identifiers"
The project level schema asks publishers to provide:

Currently there's no further guidance or mechanism to prevent multiple publishers using the same identifier for an infrastructure project.

In OCDS an [ocid prefix](http://standard.open-contracting.org/latest/en/schema/identifiers/#contracting-process-identifier-ocid) is assigned to publishers by the OCDS helpdesk and prepended to existing iden

[2018-12-19 19:47] jpmckinney commented on #58
I'd be happy with 4 or 5, with a slight preference for 5. 4 has advantages (i.e. we necessarily learn of any new publishers), but 5 is better longer-term (no need for an authority to manage prefixes).

[2018-12-19 19:50] jpmckinney commented on #5
Noting that if we rename variations to modifications in the schema, we'll also need to update the codelist's name (and the heading in the docs).

[2018-12-20 10:06] duncandewhurst commented on #58
I discussed this briefly with @ScatteredInk and we noted that if project identifiers are expected to be displayed to an end user in an interface then 5. might not be that aesthetically pleasing (not an issue for BODS)

[2018-12-20 11:09] duncandewhurst commented on #47
Noting some follow up tasks now that the worked example is updated:

- [ ] remove `schema/project-level/tests` folder and contents
- [ ] make the worked example discoverable from the documentation

[2018-12-20 11:16] #34 closed

[2018-12-20 11:19] duncandewhurst commented on #5
#45 is merged and the sample data is updated.

Moving this to the beta milestone pending a final decision on renaming variations

[2018-12-20 11:48] duncandewhurst commented on #51
#52 is merged, moving this issue to the beta milestone

[2018-12-20 12:04] duncandewhurst commented on #43
Noting that the PPP party role codelist includes some PPP specific codes/descriptions

[2018-12-20 12:05] duncandewhurst commented on #35
The definition of 'publicAuthority' is currently PPP specific:

Moving this issue to the beta milestone in line with #43

[2018-12-20 12:10] #55 closed

[2018-12-20 12:57] jpmckinney commented on #58
`7483CE73-5C7B-465E-A86D-8E8D6ECB66C3`

`ocds-213czf`

The latter is certainly shorter, though otherwise neither is aesthetically pleasing.

We can go with 4, and then someday offer a tool through which prefixes can be registered. We'd need registration, as we need to compare the generated prefix to existing prefixes, otherwise 4 is not guaranteed to be unique (UUIDs require no such comparison).

[2018-12-20 13:13] jpmckinney commented on #35
Given that the only issues remaining are those in #43, I think we can close this issue (and copy your comment about publicAuthority there).

[2018-12-20 13:22] jpmckinney commented on #24
I ran the maintenance scripts, which detected no missing codelists.

[2018-12-20 13:22] #24 closed

[2018-12-20 14:18] #35 closed

[2018-12-21 08:33] duncandewhurst opened #68 "Version and language switchers"
The version and language switchers in the [live version](http://standard.open-contracting.org/infrastructure) are broken.

This isn't an issue right now as there is only one version and one language but we should fix these as part of the beta deploy.

cc @robredpath

[2018-12-21 08:37] duncandewhurst opened #69 "Dev branch access"
Dev branch builds are currently available at:

http://ocds-standard.dev3.default.opendataservices.uk0.bigv.io/<branch-name>

As part of the beta deploy we should make these accessible at:

http://standard.open-contracting.org/infrastructure/<branch-name>

cc @robredpath

[2018-12-21 12:50] jpmckinney commented on #68
Let's also add this to the handbook, as I don't think it's documented yet.

[2018-12-21 15:18] duncandewhurst commented on #22
Docs are now deployed with Travis and a redirect from the old github pages location has been set up.

[2018-12-21 15:18] #22 closed

[2019-01-10 09:50] duncandewhurst opened #70 "Manually search index the beta deploy"
Currently, new builds must be manually indexed.

See https://github.com/open-contracting-extensions/public-private-partnerships/issues/192

[2019-01-10 14:38] jpmckinney commented on #70
Since this is a cross-repo issue, should we just have https://github.com/open-contracting/standard-development-handbook/issues/205 open?

[2019-01-14 12:38] duncandewhurst opened #71 "Rename 'project-level data' in menu to 'getting started'"

[2019-01-15 00:56] Manu2510 commented on #10
Hi Everyone,  in terms of **delivery** we should consider that in many countries the formal document for the handover of the assets is an Acceptance Note or Delivery Certificate  (in Spanish Recibido Conforme or Acta de Entrega).

[2019-01-15 01:01] Manu2510 commented on #15
Hi everyone, I think the the purpose must be in a a free text box, as we don't have a proper CodeList that could be use in all the countries, maybe in the future we can develop a formal CodeList for Infrastructure projects.

[2019-01-28 08:05] EvelynDinora commented on #5
We agreed in our last call that we are ok to rename variations as modification according to the EU norm.

[2019-01-28 08:06] EvelynDinora commented on #41
As we discussed this can be used as an extension since this is commun in very large projects in some countries.

[2019-01-28 08:10] EvelynDinora commented on #10
What is commented by Manuel is what we all CoST working group agreed. That is a definition understood by our members.

[2019-01-28 09:46] EvelynDinora commented on #15
As commented by Manuel we did a quick research in different CoST countries and agree that is better to have a free text to describe the purpose. In some countries there are not lists or catalogs and in others the catalog is not similar to others. This depends mainly on the general planning systems in every country and national strategic objectives.

[2019-01-28 09:53] EvelynDinora commented on #16
As we discussed we would like the PPPCERT codelist as the basic one and then improve it based on @jpmackinney research. When the draft is ready when can validate it with CoST members.

[2019-01-28 11:00] EvelynDinora commented on #17
We agree on leaving out the explicit link. In some cases, such large projects and roads could be difficult to find a direct link when maintenance and rehabilitation are in hands of different procuring entities.

[2019-01-29 16:32] duncandewhurst commented on #16
thanks @EvelynDinora the draft codelist for review is [here](https://docs.google.com/spreadsheets/d/17FRnRXaXmsQZusf9_vmlRhRUuA4Fdy2ORIxizABCLRI/edit#gid=587149807)

Could a project belong to more than one sector from the list? i.e should we allow an array of values for the `sector` field in the schema?

[2019-01-29 16:37] duncandewhurst commented on #15
Great, thanks @EvelynDinora

[2019-01-29 16:39] duncandewhurst commented on #10
@Manu2510 @EvelynDinora please clarify your proposal.

Do you mean we should revert to using 'implementation' instead of 'delivery' for this project stage?

[2019-01-29 16:40] duncandewhurst commented on #41
Thanks @EvelynDinora

[2019-01-30 09:59] duncandewhurst commented on #16
Note from @jpmckinney on proposed codelist:

[2019-01-30 10:47] duncandewhurst commented on #5
thanks @EvelynDinora

changes staged in https://github.com/open-contracting/infrastructure/pull/74

[2019-01-30 12:01] duncandewhurst commented on #25
Since OC for Infrastructure includes a `documents` array on the `contractingProcessSummary` object, we should include the codes from OCDS core too.

[This spreadsheet](https://docs.google.com/spreadsheets/d/1ttXgMmmLvqBlPRi_4jAJhIobjnCiwMv13YwGfFOnoJk/edit#gid=502562127) consolidates the documentType codelists from OC for Infrastructure, OCDS for PPPs and OCDS core and where there are differences

[2019-01-31 09:10] duncandewhurst opened #76 "Add guidance on publishing subcontracting information"
See https://github.com/open-contracting/standard/issues/392#issuecomment-458378759

[2019-01-31 16:42] jpmckinney commented on #76
Do we need guidance on subcontractors in three places? I'd rather have it in one place and use links. If there's something unique to infrastrucrure, we can have that unique content here, and then link to the rest.

[2019-01-31 17:10] duncandewhurst commented on #76
Agreed, this issue can serve as a reminder to add that link and content.

[2019-02-07 09:28] duncandewhurst opened #77 "Update text on implementation guidance page"
Update the text to reflect that the guidance has been developed

http://standard.open-contracting.org/infrastructure/latest/en/guidance/

[2019-02-08 15:59] duncandewhurst opened #78 "Update readme.md to reflect current state of project"

[2019-02-08 16:02] duncandewhurst opened #79 "Update colour scheme"
![image](https://user-images.githubusercontent.com/19265814/52489717-e789f400-2bba-11e9-9e48-849503dabe3a.png)

[2019-02-11 12:56] duncandewhurst opened #80 "Add page on helpdesk support with helpdesk email address"
See http://standard.open-contracting.org/latest/en/support/

[2019-02-12 10:31] duncandewhurst opened #81 "Nest schema browser and schema and codelist reference pages under a 'schema and codelists' heading"
These elements of the documentation should be grouped under a single heading, following a similar approach to the core OCDS documentation.

[2019-02-13 11:39] duncandewhurst opened #82 "Update borrow-schema.py to make codelist building reproducible"
See https://github.com/open-contracting/infrastructure/pull/75#issuecomment-458997908

[2019-02-13 11:54] duncandewhurst opened #83 "Remove discussion column from mapping tables"
Once all discussions are resolved.

[2019-02-13 11:59] #5 closed

[2019-02-13 13:01] jpmckinney opened #84 "Mapping CSVs inconsistently use the phases "Publish in" and "Publish as""
"Publish in" works for all constructions.

[2019-02-25 15:44] #84 closed

[2019-02-25 16:10] #81 closed

[2019-02-25 16:13] #80 closed

[2019-02-25 16:50] duncandewhurst commented on #78
Closed by #88

[2019-02-25 16:50] #78 closed

[2019-02-26 14:57] #15 closed

[2019-02-26 15:44] duncandewhurst opened #91 "Update font for headings and menu items to Monserrat"
https://fonts.google.com/specimen/Montserrat

[2019-02-26 17:11] duncandewhurst commented on #43
Of the partyRole codelists explicitly referenced in the IDS mapping:

* Only 'publicAuthority' is drawn from the OCDS for PPPs codelist
* 'funder', 'procuringEntity' and 'supplier' are drawn from OCDS core, but do not appear in OCDS for PPPs
* 'administrativeEntity' is a new code introduced by OC4IDS
* 'owner' is an erroneous code and should be replaced by 'publicAuthority'

With the exception of

[2019-02-26 17:19] #43 closed

[2019-02-26 17:20] #79 closed

[2019-02-26 17:20] #77 closed

[2019-02-26 17:20] #71 closed

[2019-02-26 17:23] #25 closed

[2019-02-27 09:17] cost-platform commented on #10
Yes, please. We double check with the working group and delivery is understood as the handover of the asset. So, implementation should be the proper terminology to use.

[2019-02-27 09:39] cost-platform commented on #16
About the Code List: It would be important to add more details for energy: power producer plants, Electricity transmission lines, Gas pipelines. Please take social housing out of health: Social housing should be one separate sector. In education we should add university and other learning facilities.

[2019-02-27 09:49] cost-platform commented on #16
About the possibility of having a project that belong to more than one sector: Yes, it could be possible, for instance inter-urban roads with cycle tracks (this possibility is according the proposed code list). Also, it could be possible when a project is responding to an emergency: for instance repair an urban road and at the same time water and electricity or communication facilitates after affe

[2019-02-27 12:08] duncandewhurst opened #94 "Add explicit properties for current contract value, period and description"
I've been reviewing the modifications model and I'd like to propose adding explicit properties for the current value, period and scope of the contract to `contractingProcessSummary`, to make it easier for users to access this information.

Currently:

* `contractingProcessSummary` includes properties for the initial contract `value`, `period` and scope*, i.e. the values at the time of the contract

[2019-02-27 12:10] duncandewhurst commented on #94
Noting that naming of the new fields is up for discussion, it may be better to rename the existing fields (e.g. to `initialContractValue` etc.) and use the existing names for the current values.

[2019-02-27 13:46] jpmckinney commented on #10
"implementation" is fine with me – we can distinguish it from the concept in OCDS though the definition.

[2019-02-27 13:59] jpmckinney commented on #16
The different codelists I researched added more detail in different ways. To cover the three you describe, we could add:

* energy.generation: Electric power generation, including power plants
* energy.transmission.electric: Electric power transmission, including power lines
* energy.transmission.gas: Gas transmission, including pipelines

The pattern of "." sub-codes makes it easier to fill in an

[2019-02-27 15:18] duncandewhurst commented on #16
Thanks both, I've updated the [draft codelist](https://docs.google.com/spreadsheets/d/17FRnRXaXmsQZusf9_vmlRhRUuA4Fdy2ORIxizABCLRI/edit#gid=587149807) to incorporate the suggested changes (highlighted in green).

@cost-platform please confirm whether the additional sub-codes proposed by @jpmckinney are required, or whether the expanded description for the 'energy' code ("Energy, including electric

[2019-02-27 15:27] jpmckinney commented on #16
If we expand the energy description, I suggest:

i.e. adding in the concepts of distribution and oil.

[2019-02-27 15:29] jpmckinney commented on #16
I might have misunderstood @cost-platform's earlier comment – if the intention was simply to clarify the definition of energy, then I would prefer that to adding more codes at this time.

[2019-02-27 16:04] cost-platform commented on #16
Yes, the comments on energy and education are aiming to clarify the definition, instead of adding more codes.

[2019-02-27 16:06] cost-platform commented on #16
The expanded description is sufficient. Many thanks

[2019-02-27 16:45] odscjames commented on #68
Can I get clarification of what versions you are expecting to see in the switcher at the moment?

Currently it has 2: latest and master

But while http://standard.open-contracting.org/infrastructure/latest/en/ is fine, http://standard.open-contracting.org/infrastructure/master/en/ 404's!

I can see the "switcher" redirects are missing from the Apache conf for this, so there is something to do here

[2019-02-27 17:15] odscjames commented on #68
I have done this on the dev site - I would like to check some details before putting on live.

[2019-02-27 18:43] jpmckinney commented on #68
Can you update the handbook with the changes you had to make?

[2019-02-28 07:56] duncandewhurst commented on #68
Thanks @odscjames

When we deploy the beta, the version switcher should show:

[code]
and the language switcher should just show 'English'

[2019-02-28 15:39] duncandewhurst opened #95 "Documentation updates from the latam training call"
- [x] add blank OC4IDS JSON file, using https://github.com/open-contracting/json-schema-random
- [x] update title of "using open contracting data to understand infra projects" to "Using data from procurement systems for infrastructure monitoring"
- [x] change the title of "Evaluating disclosures against the Infrastructure Data Standard" to "Assessing compliance with the CoST IDS"
- [x] add an admo

[2019-02-28 15:44] duncandewhurst opened #96 "Clarify where project identifiers should be provided in OCDS data"
@juanpane flagged that the `planning/budget/projectID` field in OCDS should be used to provide identifiers for national budget projects, not individual infrastructure projects.

We should determine whether the `planning/project/id` field introduced in the [budgets and projects extension](https://github.com/open-contracting-extensions/ocds_budget_projects_extension) would be appropriate or whether

[2019-02-28 16:01] jpmckinney commented on #96
`Budget`:

`Budget.projectID`:

We never explain that there is such a thing as a "budget project" (I'm not entirely clear on what it is), so the present definitions are flexible. That said, it would be odd for a non-budget project to be referenced in the Budget object, unless that project were coterminous with a budget project.

I don't see any problem with `planning/project/id`:

[2019-02-28 16:31] odscjames commented on #68
Done on live - just docs to do now.

[2019-02-28 16:38] jpmckinney commented on #94
I find the proposal hard to read – is the proposal simply to add `
contractingProcesses/summary/currentContractValue`?

I have thoughts, but I'd first like to remove this issue from the beta milestone (which, as I understand, is already late), because schema issues shouldn't be raised and discussed last-minute.

[2019-03-01 08:01] duncandewhurst commented on #94
And `currentContractPeriod`, `currentContractScope`.

This came up when I was reviewing the schema definitions for https://github.com/open-contracting/infrastructure/issues/56 and seemed like an opportunity to correct a possible omission in the beta, since it was simply adding fields to make it easier for users to access information already available elsewhere in the schema.

However, if more disc

[2019-03-01 17:14] jpmckinney commented on #94
Thanks! A general concern with calculated fields is that they introduce opportunities for coherence errors: for example, if a modification is made, but the calculated field isn't updated correctly. There are cases where calculated fields are acceptable despite this risk, like:

* `finalValue` in the [contract completion extension](https://github.com/open-contracting-extensions/ocds_contract_comple

[2019-03-05 17:29] duncandewhurst commented on #16
thanks all, I've updated the [draft codelist](https://docs.google.com/spreadsheets/d/17FRnRXaXmsQZusf9_vmlRhRUuA4Fdy2ORIxizABCLRI/edit#gid=587149807) to remove the extra energy codes and use the expanded description.

These changes are staged in https://github.com/open-contracting/infrastructure/pull/98 and will be merged in by the end of this week, for inclusion in the beta.

[2019-03-06 08:47] #16 closed

[2019-03-06 09:07] duncandewhurst commented on #91
Closed by #100

[2019-03-06 09:07] #91 closed

[2019-03-06 10:37] duncandewhurst commented on #70
I updated the issue title to reflect what needs to happen for the beta deploy, automatic indexing of branches can be addressed as part of https://github.com/open-contracting/standard-development-handbook/issues/205

[2019-03-06 13:47] duncandewhurst commented on #49
Removing this from the beta milestone since the documentation includes an admonition with guidance on designing data entry forms and we can document a worked example if and when there is demand from implementers.

[2019-03-06 14:03] pindec commented on #95
see pull request #104

[2019-03-06 14:47] odscjames commented on #69
I'm not sure what needs to be done here; we already have a travis deploy file that puts the files on the dev server https://raw.githubusercontent.com/OpenDataServices/opendataservices-deploy/master/open-contracting-infrastructure-deploy.sh and I'm guessing the "Copy the files to the live server" process is used here too? https://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/

[2019-03-06 15:22] odscjames commented on #69
Ah, ok, so call with @duncandewhurst : We need the Live server to ProxyPass infrastructure branches it doesn't have to the dev server,  like existing site

[2019-03-06 15:22] odscjames commented on #68
{% set infrastructure_live_versions = ['latest', 'master'] %}

Actually, this should just be latest. Because we want 'master' to be served from the dev server. See #69

(Double check this doesn't break version switcher)

(Call with @duncandewhurst )

[2019-03-06 15:33] duncandewhurst commented on #51
I've reviewed whether these objects need required identifiers and propose the following:

* `ContractingProcess` -  we don't currently have an identifier on the contracting process object. We could make `contractingProcess/Summary/ocid` a required field, but that would which would require OC4IDS publishers to mint `ocid`'s when no OCDS data is available, and dealing with a nested identifier would

[2019-03-07 05:05] jpmckinney commented on #51
Sounds good to me. Regarding `ocid`, what if no OCDS data is available, such that they mint an `id`, and then at a later date OCDS data becomes available? I think it's better for that scenario to have both an `id` and `ocid` field; the `id` stays the same, and the `ocid` gets filled in.

The guidance can still be that, if OCDS data is available, then both `id` and `ocid` should be the `ocid` from

[2019-03-07 14:43] #83 closed

[2019-03-07 16:25] odscjames commented on #68
Docs merged.

[2019-03-07 16:49] odscjames commented on #69
Done eg http://standard.open-contracting.org/infrastructure/91-new-font/en/ now works

[2019-03-07 16:50] odscjames commented on #68
Have updated infrastructure_live_versions

[2019-03-07 16:50] #68 closed

[2019-03-07 17:29] duncandewhurst commented on #95
Closed by #104

[2019-03-07 19:23] jpmckinney commented on #95
I had some review comments (and haven't finished reviewing), for which we'll need a new PR.

[2019-03-08 08:42] duncandewhurst commented on #51
Thanks @jpmckinney I agree with your suggestion, the changes are staged in PR #105

[2019-03-08 09:03] duncandewhurst commented on #47
Leaving this issue open as a reminder to check that the worked example is valid and complete once all other PRs are merged, the following PRs make schema changes which should be reflected in the worked example: https://github.com/open-contracting/infrastructure/pull/105, https://github.com/open-contracting/infrastructure/pull/89

[2019-03-10 18:53] jpmckinney opened #107 "Check use of normative words"
Like in the normative review for OCDS, please check whether normative keywords (must, should, recommended, etc.) are used consistently, and (to the extent possible) only in the normative sections of the documentation.

[2019-03-10 18:55] jpmckinney opened #108 "Rename reference.md to schema.md"
Since reference.md was split between schema and codelists, it would make sense to rename the original file.

[2019-03-11 08:29] #51 closed

[2019-03-11 13:06] jpmckinney commented on #51
Noting that there are now some new schema test errors, for which I'll open a new issue.

[2019-03-11 15:24] #21 closed

[2019-03-11 15:58] #108 closed

[2019-03-11 16:17] duncandewhurst commented on #69
@odscjames I just noticed that visiting a branch (e.g. http://standard.open-contracting.org/infrastructure/master/) results in a directory listing, whereas in the OCDS docs this automatically redirects you to the language subfolder which contains the docs (e.g. http://standard.open-contracting.org/1.1-dev/ leads to http://standard.open-contracting.org/1.1-dev/en/)

Is it much work to replicate tha

[2019-03-12 13:55] #56 closed

[2019-03-12 14:02] #95 closed

[2019-03-12 14:02] jpmckinney commented on #95
Re-closed by #106

[2019-03-12 15:17] #58 closed

[2019-03-12 16:59] duncandewhurst opened #113 "Copy project and project package schema files to 0__9__0__beta directory"
The project and project package schemas should be available at the following URLs:

http://standard.open-contracting.org/infrastructure/0__9__0__beta/project-schema.json

http://standard.open-contracting.org/infrastructure/0__9__0__beta/project-package-schema.json

The steps to follow are here: https://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/technical/deployment/#copy-

[2019-03-12 17:09] duncandewhurst opened #114 "Update blank JSON file to include project package and object identifiers"
PRs #105 and #89 made changes which should be reflected in the blank JSON file

[2019-03-12 20:58] jpmckinney opened #117 "Delete non-PR branches if stale, otherwise create PRs"
https://github.com/open-contracting/infrastructure/branches/all

[2019-03-15 09:38] pindec opened #120 "Add public project identifier prefixes to documentation"
We need a way to expose registered OC4IDS project identifier prefixes in the documentation.

Similar mechanism as for [OCDS](http://standard.open-contracting.org/latest/en/implementation/registration/)

[2019-03-15 13:15] duncandewhurst commented on #114
Closed by #119

[2019-03-15 13:15] #114 closed

[2019-03-15 15:19] #48 closed

[2019-03-18 15:10] #47 closed

[2019-03-18 16:38] duncandewhurst opened #124 "Review project identifier prefix guidance for clarity"
Review [guidance](http://standard.open-contracting.org/infrastructure/master/en/guidance/identifiers/#globally-unique-project-identifiers) and check that it is clear that prefixes are assigned for series of project identifiers, rather than individual projects.

[2019-03-20 22:01] jpmckinney commented on #113
Hmm, both of those URLs 404.

[2019-03-21 15:37] duncandewhurst commented on #117
I've deleted any unused branches, for the remaining ones:

* `add-custom-switcher` can be deleted once the PR is merged
* `latest` was created as part of the deploy process, I'm not sure if we need to keep it (it exists and is protected in the main standard)
* `0.9` was created as part of the deploy process and reflects the current live docs, this should be kept and protected
* `gh-pages` does the

[2019-03-21 16:14] jpmckinney commented on #117
I have:

* protected latest, as a production branch (standard and ppp protect it)
* protected 0.9, as the production branch for minor series 0.9
* renamed master to 0.9-dev locally (`git branch -m`) and pushed 0.9-dev
  * changed default branch on GitHub to 0.9-dev
  * changed protection from master to 0.9-dev and deleted master
* protected gh-pages, to prevent accidental deletion of the redirect

[2019-03-25 17:13] duncandewhurst commented on #70
@kindly did this as part of the deploy

[2019-03-25 17:13] #70 closed

[2019-03-25 21:09] jpmckinney opened #126 "partyRole.csv: Rename 'administrativeEntity' to 'managementContractor'"
Can also improve description based on PPP Knowledge Lab. See discussion in https://github.com/open-contracting/standard/issues/548

[2019-03-26 17:19] jpmckinney opened #127 "Linked releases specification is overly constrained"
`url` is described as "A URL (Web link) to the related OCDS release where available. This should be provided within a releasePackage **that contains only one release.** Where this release is sourced from a third party system (e.g. procurement portal), transparency portal developers **are encouraged to cache this data and link to their cached copy**."

I recommend removing "that contains only one r

[2019-03-26 17:23] jpmckinney opened #128 "Linked release should include ocid field"
Otherwise, the release ID is not scoped to the contracting process of which it is a part.

[2019-04-08 15:19] duncandewhurst opened #130 "Add a tenderers field to contractingProcessSummary/tender"
CoST Ukraine's platform captures bidder information for the contracting processes associated with an infrastructure project.

Bidders can be added to the `project/parties` section, however there is no way of linking a bidder to a specific contracting process.

We should re-use the `tenderers` field from the OCDS `tender` object to link to the bidders from each contracting process.

[2019-04-08 16:16] duncandewhurst opened #131 "Update mapping to use 'publicAuthority' rather than 'owner'"
I thought I'd fixed this but it seems to have slipped through into the beta release.

![image](https://user-images.githubusercontent.com/19265814/55739916-f73e8100-5a21-11e9-9d91-362a2a967b51.png)

[2019-04-08 16:21] duncandewhurst opened #132 "Add a `publicAuthority` organization reference field on project"
Currently the project owner / public authority is only disclosed in the parties section.

To determine the owner of a project this means users need to check two arrays (`parties` and `parties/roles`).

We should consider adding a `publicAuthority` organization reference on the `project` object so that users and applications can more easily filter by the project owner.

[2019-04-25 13:45] ghost commented on #69
@duncandewhurst Sorted!

[2019-04-25 13:46] duncandewhurst commented on #69
Brill, thanks james

[2019-04-25 13:46] #69 closed

[2019-04-26 12:51] duncandewhurst opened #133 "Improve clarity of 'what is project' section in Getting Started"
@juanpane flagged that the tip in the getting started section caused has caused some confusion when scoping OC4IDS implementation:

![image](https://user-images.githubusercontent.com/19265814/56808752-20d11800-682a-11e9-85a8-555dd64b9292.png)

@juanpane, would it help if we amended the second paragraph as follows? Please feel free to suggest alternatives or additions.

[2019-04-29 07:21] duncandewhurst commented on #133
Note from Nico at OCP on the public investment project counter example:

[2019-04-29 07:57] duncandewhurst opened #134 "Add worked example of different types of project to the documentation"
Related to #133

@juanpane documented a useful [worked example](https://docs.google.com/document/d/1V4bsk5GidtLcGAeDJSDVAA_JhN2tMZoabKOkw22PQgI/edit) of the different types of project in Paraguay (investment project, national budget project, infrastructure project) and how they are related.

We should add this to the Getting Started section of the documentation to help users understand what a proj

[2019-06-10 15:39] duncandewhurst opened #135 "Getting started: Add a description and diagram of the OCDS model of the contracting process"
The Getting started section does a good job of introducing the structure of the CoST IDS, before describing the structure of OC4IDS.

It would be good if it also briefly described the structure of the OCDS schema to help users interpret the 'How is OC4IDS structured?' diagram.

I suggest adding the following text and image at the end of the [How does contracting data fit in?](http://standard.open-

[2019-06-13 07:09] duncandewhurst opened #136 "Update the worked example to use the example project identifier prefix"
There is an example project identifier prefix in the [prefix spreadsheet](https://docs.google.com/spreadsheets/d/10XRl7w-mR3lIuS7igc_xEyNmdi0Kl3a3TgVjfI_EQNE/edit#gid=506986894). The worked example should be updated to use this prefix.

[2019-06-17 10:38] kindly commented on #113
The issue is the urls should be

http://standard.open-contracting.org/infrastructure/schema/0__9__0__beta/project-schema.json
http://standard.open-contracting.org/infrastructure/schema/0__9__0__beta/project-package-schema.json

i.e they are missing the `/schema` bit in the URL.

This is needed for the oc4ids cove to work properly as the `id` and the `$ref` are broken.

@jpmckinney do you think we

[2019-06-17 14:25] jpmckinney commented on #113
Works for me! I committed i18n changes directly.

Re: version name, shouldn't it be 0.9.0.beta.2? Either that, or we drop 'beta' and start going with 0.9.1 and up. 0.* series generally indicate an 'in-development' or 'non-stable' status.

[2019-06-17 15:25] kindly commented on #113
I would just be happy with just 0.9.1 as I do not think we are going to do just a `0.9.0` release which is what the `beta` suggests we are aiming at.

[2019-06-17 15:48] kindly commented on #113
#137 should fix this.

[2019-06-18 14:39] kindly commented on #113
Fixed in #137 and deployed.

[2019-06-18 14:39] #113 closed

[2019-06-26 22:55] jpmckinney opened #139 "Update to OCDS 1.1.4"
After updating OCDS for PPPs to OCDS 1.1.4, we can run `borrow-schema.py` to update this to OCDS 1.1.4 (just changes code/field descriptions).

[2019-06-28 10:29] duncandewhurst opened #140 "Project end dates"
The description for `project/completion/endDate` is:

However, the description for `project/period` suggests that this field can be updated over the life of the project, in which case, since OC4IDS doesn't capture a change history, the original planned end date would be overwritten and lost for comparison:

Possible solutions:

1. Update the description of `project/period` to state that this shoul

[2019-06-28 11:00] duncandewhurst opened #141 "Contracting processes summary: Update descriptions of `modifications` and `description`"
The current description for `modifications` is:

I think this needs two updates:

1. Remove the following statement:

Modifications can relate to either the value, duration or scope of the contracting process, however the `summary/contractValue` and `summary/contractPeriod` properties are the **initial** values, so shouldn't be updated.

We should also update the description of `summary/descriptio

[2019-06-28 13:33] jpmckinney commented on #140
Which option better conforms to IDS' model? My understanding is that the option 1 does.

[2019-06-28 13:47] jpmckinney commented on #141
First update sounds good.

Did we anticipate any other semi-structured information besides before/after values? If not, then second update sounds good, too.

[2019-06-28 14:17] duncandewhurst commented on #140
IDS's model is inconsistent across project period, cost and scope (I'm including the last two for comparison because I think we should have a consistent approach in OC4IDS). Scope and budget/cost appear in both the preparation and completion sections of IDS, whilst period/completion date appears only in the completion section.

The relevant elements in IDS are:

| Project Phase | Information | Des

[2019-06-28 14:36] jpmckinney commented on #140
Yes. CoST's use cases require access to (at least) initial and final values. I can see latest estimates also being necessary, but for now we should at least fix the semantics to preserve initial values.

[2019-07-10 15:44] jpmckinney opened #143 "Link to OCDS publication policy guidance and add package metadata to worked example"
@yolile noticed that the publication policy isn't mentioned in the documentation (though it's present in the schema). Since this is important metadata, we should mention it somewhere (likely linking to OCDS documentation to avoid duplication of content).

[2019-07-10 17:14] yolile commented on #143
We also need to update the "Implementation Guidance" section specially the [worked example](http://standard.open-contracting.org/infrastructure/latest/en/guidance/example/) to include packaging info, now the worked example is presented as a "fully completed OC4IDS JSON file" but the worked example doesnt have the package metadata.

[2019-07-26 08:18] duncandewhurst opened #145 "Move OCDS codelists to the top of the codelist reference page"
From @jpmckinney:

[2019-07-29 15:01] jpmckinney commented on #117
@duncandewhurst This should be easy to close, though can be done independently of a release (see question at end of my last update).

[2019-07-29 15:02] jpmckinney commented on #145
This one should be easy and can be done as part of 0.9.2, but no problem if postponed.

[2019-07-30 07:21] duncandewhurst opened #146 "Add 'publicAuthority' role to worked example"
The 'Motorways UK' should have this role

[2019-08-15 15:58] ghost opened #147 "Change Travis to use new deploy script"
https://github.com/open-contracting/infrastructure/blob/0.9-dev/.travis.yml#L13 - should now be the new deploy repo, https://github.com/open-contracting/deploy

[2019-08-15 15:59] ghost commented on #147
![](https://github.trello.services/images/mini-trello-icon.png) [Improve standard-search](https://trello.com/c/31F2W1nd/7-improve-standard-search)

[2019-08-19 10:11] #147 closed, assigned to nobody

[2019-08-19 10:13] ghost opened #151 "Unsure about Branch use"
I was working on this and got in a bit of a muddle about which branch was active, which I should be working against, etc.

I checked https://ocds-standard-development-handbook.readthedocs.io/en/latest/github/branch_management/ but couldn't find anything to help.

I ended up working against the default branch in the repo, currently 0.9-dev. I did a few P.R.'s against that, and I also cherry picked

[2019-08-19 12:40] jpmckinney commented on #151
Default branch is correct. Infrastructure follows the same pattern as other profiles: https://ocds-standard-development-handbook.readthedocs.io/en/latest/profiles/technical/repository/#branches-and-tags

[2019-08-19 12:40] #151 closed, assigned to jpmckinney

[2019-08-19 12:44] jpmckinney commented on #151
I added links from that page: https://github.com/open-contracting/standard-development-handbook/commit/f84677949ba0d083cedf16e4edebf9dd30c027c7

[2019-09-02 23:11] antonioherrera opened #152 "Consider to add 'expansion' code to projectType"
There are some infrastructure projects, like the airport expansions, who seeks to expand the existing assets.

It would be helpful if we can add the 'expansion' code to the projectType codelist, with the following description.

"The primary focus of this project is the expansion of an existing asset.

This code will be used at Nuevo León's implementation.

[2019-09-04 18:14] antonioherrera opened #153 "Add 'relatedProjects' array to schema"
### Description

This addition to the schema allows relating different kinds of projects involved in the same infrastructure. For example: the construction, expansion, rehabilitation, or replacement of an existing airport through time.

This extension seeks to have a record of modifications and spendings related to a specific infrastructure.

### Schema additions

[code]

### Codelists

`Relations

[2019-09-06 19:11] antonioherrera opened #154 "Add 'requestDate' on 'budget' object"
There is a use case for this extension.

When having a central institution responsible for the contracting process of infrastructure projects, there is a need to inform the other institutions when the budget was requested and when the budget was finally approved. So, with this, the central institution can justify why the project has not been initiated.

You can see a draft of this extension here:

[2019-09-09 03:37] jpmckinney commented on #152
Thanks, @antonioherrera! @duncandewhurst, this does indeed seem like a distinct project type to the existing codes. Who is best to engage among stakeholders (at least one person from CoST)?

[2019-09-09 03:39] jpmckinney commented on #153
@duncandewhurst I'd agree that this is a good candidate for addition to OC4IDS.

[2019-09-09 03:42] jpmckinney commented on #154
@duncandewhurst Do the budget-related OCDS extensions contain any alternate modelling for this information?

I think with OC4IDS, we should try to simply add fields to the main schemas, and only adopt an extension mechanism if we really see a significant demand for additional fields.

[2019-09-13 16:16] duncandewhurst commented on #154
Thanks @antonioherrera!

No, in OCDS this would be modelled using `planning.milestones` (with `.type` set to 'preProcurement'). However, adding `requestDate` on `budget` is consistent with having an explicit field for `approvalDate` in OC4IDS, so I'm happy with the proposed modelling.

Agreed, this is a good opportunity for the standard to meet use cases outside of those originally envisaged by Co

[2019-09-13 16:21] duncandewhurst commented on #153
Thanks @antonioherrera

I agree this seems like a good addition to the core schema and I'm happy with your proposed modelling and codelist (edit: subject to the resolution of #152), so I've added this to the 0.9.2 milestone.

Regarding duplicating the values from the `projectType` codelist, I can see this would be useful for a user to understand which types of related projects exist without needin

[2019-09-13 16:26] duncandewhurst commented on #152
@EvelynDinora are you happy for the code proposed by @antonioherrera to be added to the projectType codelist?

Given we have a use case in Neuvo Leon for the code, I am happy to add this, since other implementations can opt not to use the code, if they don't collect this much detail.

[2019-09-20 20:01] jpmckinney opened #155 "Restore all Travis tests"
To ensure there are no schema or codelist errors before releasing 0.9.2.

[2019-10-11 15:06] yolile commented on #128
is not the `contractingProcess/id` [field](https://standard.open-contracting.org/infrastructure/latest/en/reference/schema/#contractingprocess) used for this?

[2019-10-14 17:17] yolile opened #156 "Completion: Update description of endDateDetails"
Currently, the endDateDetails description says:

Should the word contract have to be replaced by **project** ?

[2019-10-14 22:03] duncandewhurst commented on #156
Yes, good spot. Thanks @yolile

[2019-10-15 14:37] jpmckinney commented on #128
Indeed! I somehow missed that.

[2019-10-15 14:37] #128 closed, assigned to nobody

[2019-10-15 14:38] jpmckinney opened #157 "Multiple contacting -> contracting typos"
I found three in the schema file. We should check everywhere when fixing those.

[2019-10-21 18:08] romifz opened #158 "contractingProcesses/releases/tag is string instead of array"
Should `contractingProcesses/releases/tag` be an array? Definition says

![screenshot-standard open-contracting org-2019 10 21-15_05_40](https://user-images.githubusercontent.com/1881108/67230924-a23de780-f414-11e9-8a85-ae792de034e8.png)

[2019-10-21 19:56] duncandewhurst commented on #158
Yes, good spot!

[2019-10-22 19:56] duncandewhurst opened #160 "Move normative statement on use of project identifier prefix to schema"
Currently the [project identifiers implementation guidance](https://standard.open-contracting.org/infrastructure/latest/en/guidance/identifiers/#globally-unique-project-identifiers) includes the following normative statement (emphasis added):

However the description of the `id` field in the schema doesn't mention the project identifier prefix:

This was an unintentional omission from the schema,

[2019-10-22 21:48] duncandewhurst opened #161 "ocid duplication"
There are two fields in the schema in which the `ocid` of a related contracting process should be provided:

`contractingProcesses/id`:

`contractingProcesses/summary/ocid`:

`contractingProcesses/id` is required because items in an array must have an `id` field, but `contractingProcesses/summary/ocid` seems duplicative.

The latter field was introduced in https://github.com/open-contracting/infra

[2019-10-23 01:24] jpmckinney commented on #161
I think we can remove it. Related: #128

[2019-10-23 11:17] pindec opened #162 "Link to projects schema from project package schema is broken"
[Packaging data](https://standard.open-contracting.org/infrastructure/latest/en/reference/package/) project package schema browser has a broken link to the project schema.

Currently displays as `array[1..] http://standard.open-contracting.org/infrastructure/schema/0__9__1/project-schema.json`

[2019-10-24 21:07] duncandewhurst commented on #139
@jpmckinney do you have an idea of when OCDS for PPPs 1.0.0.beta2 will be deployed?

If I understood `borrow-schema.py` correctly, it pulls from https://standard.open-contracting.org/profiles/ppp/latest so we need to wait for it to be deployed before running (or edit `borrow-schema.py` if that won't happen soon)

[2019-10-24 21:47] jpmckinney commented on #139
Salt broke on macOS Catalina, so I'm looking at a workaround. I had made some fixes and changes to the Apache configuration that I wanted to deploy before deploying OCDS for PPPs. If I can't sort it out, I'll ask ODS to deploy it.

[2019-10-24 22:06] duncandewhurst commented on #152
@EvelynDinora - please could you provide some feedback from CoST on this proposed code?

Ideally we would include this in the 0.9.2 release of OC4IDS, so feedback in the next week would be appreciated.

Thanks

[2019-10-24 22:10] duncandewhurst opened #163 "Find a way to distinguish between fields which are and aren't part of the CoST IDS"
In https://github.com/open-contracting/infrastructure/issues/154 we decided to hold fire on adding an extensions mechanism to OC4IDS until we see significant demand for additional fields.

In the meantime it would be helpful to be able to distinguish between fields which are needed to comply with the disclosure requirements of the CoST IDS and those which aren't, such as fields we add to the schem

[2019-10-28 13:06] EvelynDinora commented on #152
@duncandewhurst we can add the proposal to the projectType code list. An extension of an asset is clearly different from other types. Thanks.

[2019-10-28 15:23] pindec opened #165 "Spellcheck project"
Further to spelling corrections in the schema #157 we should run a spellcheck across the whole project.

[2019-10-28 15:27] jpmckinney commented on #165
I've done this in other repos using this process: https://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/technical/spellcheck.html

It's fairly repetitive (lots of false positives), so I don't mind doing it for OC4IDS given that I have the hang of it now.

[2019-10-29 02:03] jpmckinney commented on #139
@duncandewhurst I've now deployed OCDS for PPPs 1.0.0.beta2.

[2019-10-29 04:03] duncandewhurst commented on #96
Juan asked that we include this update to the documentation in the 0.9.2 release.

I've drafted an update to the project identifiers guidance in https://github.com/open-contracting/infrastructure/pull/166 based on the discussion above.

@juanpane - please review the updated guidance. You also mentioned an extension to reference the identifier for an investment project. Is that documented somewhere

[2019-10-29 04:10] duncandewhurst commented on #133
@juanpane - I took another pass at improving the clarity of the tip. Please let me know if you are happy with the following and I'll add it to the 0.9.2 release:

[2019-10-29 04:11] #157 closed, assigned to pindec

[2019-10-29 05:24] duncandewhurst commented on #152
Thanks @EvelynDinora

[2019-10-29 15:01] #152 closed, assigned to nobody

[2019-10-29 15:24] jpmckinney opened #172 "Test JSON files contain non-schema fields and codes"
Fields:

* awardValue
* contractType
* projectPhase
* tenderValue

Codes:

* auditAndEvaluation

[2019-10-30 09:20] pindec commented on #154
Does adding a budget/requestDate field also require an update to the [document type codelist](https://github.com/open-contracting/infrastructure/blob/0.9-dev/schema/project-level/codelists/documentType.csv)?

The field description for budget/approvalDate is:

Is there also documentary evidence for the request date which might be disclosed and therefore require a "budgetRequest" document type code?

[2019-10-31 00:23] duncandewhurst commented on #141
Sorry for leaving your comment hanging.

No, as far as I'm aware this statement just related to providing semi-structured information on changes to values and dates in the `description` field (the statement was added before there were any other structured fields available).

#174 removes the statement per the above

[2019-10-31 00:53] duncandewhurst opened #179 "Update Spanish translation with changes in 0.9.2"
Once all other issues and PRs in the 0.9.2 milestone are closed/merged, before deployment, we'll need to follow the [translation process](https://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/translation/workflow.html#steps) in the standard development handbook, to update the Spanish translation to include the changes in 0.9.2.

[2019-10-31 01:20] duncandewhurst commented on #154
It looks like @antonioherrera omitted "Where documentary evidence..." from the description of `requestDate`, so I think we can do the same and not add anything to the document type codelist, until we have an example where such a document exists.

[2019-10-31 01:27] duncandewhurst commented on #172
If you mean the files in `schema/tests`, I don't think these are used for anything, at least I can't find any reference to them elsewhere in the project.

I believe they were created by Tim for testing when he was working on the the alpha release and have since been superseded by the JSON file used in the worked example.

Unless you are using them somewhere, I will remove them.

[2019-10-31 02:38] #139 closed, assigned to duncandewhurst

[2019-10-31 02:41] jpmckinney commented on #172
Yes, let's remove them then.

[2019-10-31 03:05] jpmckinney opened #180 "Replace URLs to OCDS latest with OCDS 1.1"
i.e. standard.open-contracting.org/latest -> standard.open-contracting.org/1.1

If/when OCDS 1.2 comes out, the relevant version of OC4IDS will link to the correct version of OCDS.

[2019-10-31 03:35] #160 closed, assigned to pindec

[2019-11-07 23:52] #141 closed, assigned to pindec

[2019-11-07 23:58] #156 closed, assigned to pindec

[2019-11-08 03:41] #172 closed, assigned to nobody

[2019-11-08 17:22] pindec commented on #132
@duncandewhurst I've added a new entry in `parties` for a publicAuthority, and added it to the `publicAuthority` field. A different party still has the roles of procuringEntity, buyer and administrativeEntity - is that realistic?

[2019-11-13 11:09] pindec opened #182 "Run schema-strict and add validation properties to schema"
Further to @duncandewhurst's comment  [here](https://github.com/open-contracting/infrastructure/pull/178#discussion_r340889614), I note the identifier field in the budgetBreakdown array also doesn't have minLength set to 1.

[2019-11-13 15:44] pindec commented on #162
Looks like the docson/widget.js might be trying to load the schema over HTTP even though the path is relative:

"Mixed Content: The page at 'https://standard.open-contracting.org/infrastructure/latest/en/reference/package/' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://standard.open-contracting.org/infrastructure/schema/0__9__1/project-schema.json'. This request

[2019-11-13 18:52] jpmckinney commented on #182
We should maybe run the `schema-strict` command from OCDS Kit on the schema, to add this and other validation properties.

[2019-11-13 18:56] jpmckinney commented on #162
This is fixed in https://github.com/open-contracting/infrastructure/commit/1359cfacfce091ed1f51eacfc89414c7962784ee

The problem was:

[code]

[2019-11-13 18:57] jpmckinney commented on #162
Works on dev branch https://standard.open-contracting.org/infrastructure/0.9-dev/en/reference/package/

[2019-11-13 18:57] #162 closed, assigned to pindec

[2019-11-14 05:13] duncandewhurst commented on #96
@juanpane - are you able to review this by the end of next week? We are aiming to get the next release ready before the end of November.

[2019-11-14 05:50] duncandewhurst opened #184 "Don't allow integer type for identifiers"
Similar to https://github.com/open-contracting/standard/issues/789, OC4IDS also has some `id` fields which permit only strings and some which permit either strings or integers.

@jpmckinney given the early stage of implementations, should we fix this in 0.9.2 and make all `id` fields only permit strings?

[2019-11-14 13:02] pindec commented on #182
@jpmckinney should we add that to the pre-deploy list, and therefore no need to do it here? If so, we should also add a check of the example file to ensure it's still valid.

[2019-11-14 14:26] jpmckinney commented on #184
Yes, let's do it.

Edit: If this requires any changes to `borrow-schema.py` and you'd like any help, let me know.

[2019-11-14 16:41] #96 closed

[2019-11-14 19:19] #131 closed, assigned to pindec

[2019-11-14 19:19] #136 closed, assigned to pindec

[2019-11-14 19:19] #146 closed, assigned to pindec

[2019-11-14 19:19] #143 closed, assigned to pindec

[2019-11-14 19:31] jpmckinney commented on #182
`schema-strict` is only something we can run until version 1.0.0, so I'd rather add validation properties here and not make it an assumed part of schema deployment.

[2019-11-14 19:40] #158 closed, assigned to pindec

[2019-11-14 22:08] #153 closed, assigned to pindec

[2019-11-14 23:23] #180 closed, assigned to nobody

[2019-11-15 00:02] #132 closed, assigned to pindec

[2019-11-15 00:27] #184 closed, assigned to nobody

[2019-11-15 00:37] duncandewhurst commented on #127
@jpmckinney I've drafted the changes to the schema descriptions in #188 and removed the mention of caching OCDS releases from the getting started section.

Do you have a suggestion for where to put the guidance on caching releases from unreliable sources?

Adding a tip under https://standard.open-contracting.org/infrastructure/latest/en/guidance/using/#identify-how-you-will-query-the-data seems li

[2019-11-15 00:50] jpmckinney commented on #127
Agreed, that looks best.

[2019-11-15 01:55] #154 closed, assigned to duncandewhurst

[2019-11-15 02:27] #127 closed, assigned to duncandewhurst

[2019-11-19 18:32] jpmckinney commented on #82
I think I did this in 04f816b52eeb2f63a4493a61afd36c287005a40d

[2019-11-19 18:32] #82 closed

[2019-11-19 18:36] jpmckinney commented on #126
@duncandewhurst To which milestone should this issue be assigned?

[2019-11-19 18:37] jpmckinney commented on #120
@pindec Do we have a spreadsheet set up yet? If so, this should be easy to do in 0.9.2.

[2019-11-20 14:53] pindec commented on #120
Yes, it's in the OC4IDS helpdesk internal resources folder.

[2019-11-20 15:01] jpmckinney commented on #120
Okay, I think it should be fairly quick and easy to include in 0.9.2 (in a similar embed to OCDS documentation), so adding to milestone.

[2019-11-20 20:40] duncandewhurst commented on #133
@jpmckinney @juanpane - are you happy with the revised text?

[2019-11-20 21:52] duncandewhurst commented on #117
Yes, it can be tagged.

I drafted a release which you should be able to see [here](https://github.com/open-contracting/infrastructure/releases).

If you're happy with it I'll publish the release and delete the `alpha-2` branch

[2019-11-20 22:56] duncandewhurst commented on #161
I just came upon the reason for having both fields in https://github.com/open-contracting/infrastructure/issues/51#issuecomment-470386164

@jpmckinney - based on that, should we reinstate the `ocid` field?

[2019-11-20 23:09] jpmckinney commented on #133
I think 'electrification of a rail network' is a confusing example, as that can equally be a 'larger programme of work' involving multiple OC4IDS expansion/rehabilitation projects.

I'm not clear on the concept of 'public investment'. Before, it was scoped to things that arise in the government's budget, but now it can use any funding source, such that the source of funds no longer serves to disam

[2019-11-20 23:12] jpmckinney commented on #133
Since we're not trying to exhaustively list what infrastructure projects are not (software projects, personal projects, etc.), I think we can instead replace the subsequent paragraphs/bullets with content like:

If we have some useful clarification to make regarding public investments, we can compose a similar paragraph.

[2019-11-20 23:20] jpmckinney commented on #117
Hmm, we don't typically create a full-on release through GitHub. Setting the tag is enough. (At least, I've never seen this documented anywhere.)

[2019-11-20 23:23] #124 closed, assigned to duncandewhurst

[2019-11-20 23:28] duncandewhurst commented on #133
I think we're trying to highlight that 'project' in OC4IDS has a specific meaning and shouldn't be confused with other common uses of the word in the context of infrastructure or in the context of public financial management.

I think we are also trying to address @juanpane's concerns about disambiguating between the different uses of the word project, but perhaps that isn't necessary to do in the

[2019-11-20 23:33] #130 closed, assigned to pindec

[2019-11-20 23:38] duncandewhurst commented on #117
Just to check I have understood what you are asking for correctly:

* `git checkout alpha-2`
* `git tag -a alpha-2 -m 'alpha-2 release from initial development of OC4IDS.'`
* `git push --tags`

Then delete the `alpha-2` branch

[2019-11-20 23:47] jpmckinney commented on #145
Re-opening as related: Why do we have currency and method in OC4IDS's documentation? All the codes are from OCDS, so should they be linked, like the release tag codelist? Removing the currency codelist in particular would make the page lighter.

[2019-11-21 00:10] jpmckinney commented on #161
Yes, thanks for catching that!

[2019-11-21 00:12] jpmckinney commented on #133
I think it's appropriate to do, but we need to clearly disambiguate. I think this is clear:

If we can come up with other clear statements (e.g. regarding budget projects), we can add them. Otherwise, we can always add them at a later date.

[2019-11-21 00:14] jpmckinney commented on #117
Yes, the tag message can simply be:

    git tag -a alpha-2 -m 'alpha-2 release.'

We keep longer descriptions in changelogs, announcements, etc.

[2019-11-21 01:41] duncandewhurst commented on #117
Done: https://github.com/open-contracting/infrastructure/tags

[2019-11-21 01:41] #117 closed

[2019-11-21 01:53] duncandewhurst commented on #145
Good question, I don't think that was intentional. https://github.com/open-contracting/infrastructure/pull/194 replaces those with links to the OCDS documentation.

The codelist reference page also includes two codelists from the location extension, so we could refer to the extension documentation for those, but keeping them in the OC4IDS documentation means users have fewer links to follow and do

[2019-11-21 02:25] duncandewhurst commented on #133
I agree that your proposed update is clear, but I am not sure it addresses the concerns originally raised by @juanpane, which I think specifically included confusion between projects in OC4IDS, projects in the national budget and investment projects (related to https://github.com/open-contracting/standard/issues/887).

I will add this to the Latam check-in agenda to try and get some input from Jua

[2019-11-21 02:41] duncandewhurst commented on #126
I think this will require discussion with CoST to understand whether this is an appropriate substitution.

In particular, this will include understanding whether this field in the IDS is ever used to disclose the name of a public entity, in which case I don't think we should use 'managementContractor', since my understanding of the term 'management contractor' is the same as that given in the PPP

[2019-11-21 02:58] jpmckinney commented on #145
These links lead to fairly clean pages:

https://extensions.open-contracting.org/en/extensions/location/master/codelists/#geometryType.csv
https://extensions.open-contracting.org/en/extensions/location/master/codelists/#locationGazetteers.csv

I think users just need to follow the links, without an explanation of what an extension is.

[2019-11-21 03:04] #182 closed, assigned to duncandewhurst

[2019-11-21 03:14] jpmckinney commented on #133
Sounds good. Sentence likes "A public investment – like [unambiguous example] – [is related to OC4IDS infrastructure projects in this way]" will be most useful to disambiguate.

By my understanding, that might be:

Anyhow, our goal isn't to describe a taxonomy of different projects, so if my definition of budget project isn't correct, we can just omit the first sentence and limit the paragraph to

[2019-11-21 03:23] jpmckinney commented on #126
Sounds good. I'll put it in 1.0, and if we decide to do another one before 1.0, we'll be reviewing all the issues in 1.0 anyhow to check if any fit.

[2019-11-21 03:31] #161 closed, assigned to pindec, duncandewhurst

[2019-11-21 03:41] jpmckinney commented on #133
Once resolved, we should align the paragraph about planning/budget/projectID, which refers to a national budget, though I think it can be any government's budget.

[2019-11-21 03:56] duncandewhurst commented on #155
I've restored the tests on [`155-restore-travis-tests`](https://github.com/open-contracting/infrastructure/tree/155-restore-travis-tests). They are currently failing on the `#ref` to the project schema in `project-package-schema.json` as follows:

[code]
I can't see anything wrong with the package schema so I tried updating `test_json.py` to handle the project package schema in case that was causi

[2019-11-21 04:07] duncandewhurst commented on #133
Agreed. I think that rather than explaining what a 'budget project' is, we should just say either 'project in a government's budget' or 'project code in a government's budget'.

Are you proposing to remove:

I think that is helpful to introduce why we are talking about these other types of project, alternatively we could have an 'Other types of project' sub-heading.

[2019-11-21 04:15] jpmckinney commented on #155
I'm not sure if you pushed your commits to that branch. In any case, see #196

[2019-11-21 04:16] #120 closed

[2019-11-21 04:24] jpmckinney commented on #133
I'm happy to wait for the results of the call :) Right now, I think the first paragraph of the tip is very clear. We can maybe just say:

[2019-11-21 19:15] duncandewhurst commented on #133
@tetecervantes94 please ask Juan if he can contribute to this issue. Thanks!

[2019-11-21 21:20] #155 closed, assigned to jpmckinney

[2019-11-24 00:15] jpmckinney commented on #179
Noting that we'll also need to update `config.mk`, `tests/__init__.py`, `.travis.yml`.

[2019-11-25 16:14] jpmckinney opened #198 "Add link to mapping sheet for project schema"
Follow-up to https://github.com/open-contracting/toucan/issues/12

[2019-11-28 00:13] duncandewhurst commented on #145
I've updated those in https://github.com/open-contracting/infrastructure/pull/194

[2019-11-28 00:53] duncandewhurst commented on #133
@juanpane and I discussed this issue and propose the following text:

[2019-11-28 01:17] #145 closed, assigned to duncandewhurst

[2019-11-28 01:28] jpmckinney commented on #133
Looks good to me! I did a small copy-edit.

[2019-11-28 01:32] #133 closed, assigned to nobody

[2019-11-28 01:33] duncandewhurst commented on #165
@jpmckinney are you happy to run the spell check again now everything else is merged?

[2019-11-28 01:51] jpmckinney commented on #165
Yes, see #200.

[2019-11-28 06:10] duncandewhurst commented on #165
Closed by #200

[2019-11-28 06:10] #165 closed, assigned to jpmckinney

[2019-11-29 15:25] pindec opened #201 "0.9-dev changelog link needs correcting"
2nd entry in [changelog](https://standard.open-contracting.org/infrastructure/0.9-dev/en/reference/changelog/#oc4ids-project-schema) refers to issue 132 but links to 157

[2019-11-29 15:54] #201 closed, assigned to pindec

[2019-11-29 16:13] pindec opened #203 "Repeated tip in Assessing compliance, check OCDS data"
In [assessing compliance, check OCDS data](https://standard.open-contracting.org/infrastructure/0.9-dev/en/guidance/evaluating/#contracting-data) there is a repeated tip.

The first "(Tip: You can use the OCDS Data Review tool for this)." is unnecessary given the following tip box.

[2019-11-29 17:20] #203 closed, assigned to pindec

[2019-11-29 17:23] jpmckinney opened #205 "Explain how to use Data Review Tool to check if data is in OCDS format"
docs/guidance/evaluating.md has:

However, it's not obvious how to do that. Since the DRT is more to check the implementation of OCDS, rather than to say whether something is OCDS or not, we might consider instead adding this feature to Toucan, and build on the `detect-format` command of OCDS Kit. If that's the preferred way forward, we can open an issue on Toucan.

Noticed while reviewing #203. N

[2020-01-22 01:33] jpmckinney opened #207 "Update to latest profile template"
I can do this when we're ready to deploy. Updating now might interfere with the translation process.

[2020-01-30 23:14] duncandewhurst commented on #140
From a comment from Bernadine Fernz on the draft 0.9.2 release:

If only the latest estimate is important, then this could be added as an additional property (either under `period` or at the project level), however if the history of changes is required more thought will be required about how to achieve this in OC4IDS.

[2020-02-06 20:48] duncandewhurst opened #209 "Review business logic in contractingProcessStatus codelist"
Some cases aren't handled by the current logic, e.g.

[code]

[code]

[2020-02-14 14:12] duncandewhurst opened #210 "Review OCDS Kit's OC4IDS transform and update mapping"
Review the [logic](https://ocdskit.readthedocs.io/en/latest/cli/ocds.html#convert-to-oc4ids) used in the OCDS-OC4IDS transform for each mapping and update the mapping table in the OC4IDS docs as required.

In particular, improve the documentation for the project sector mapping to explain what is left to the reader.

[2020-02-21 04:04] duncandewhurst opened #211 "Replace 'publicAuthority' with 'projectOwner'"
OC4IDS uses the 'publicAuthority' role to represent the 'Project Owner' element of the CoST IDS (defined as 'Name of the sponsoring Government department').

When reviewing the draft 0.9.2 release Bernadine Fernz (OCP) noted that:

Furthermore @EvelynDinora recommended replacing the use of 'publicAuthority' with 'projectOwner' to better align with CoST terminology.

To address these comments updat

[2020-02-21 04:17] duncandewhurst commented on #140
@EvelynDinora confirmed that CoST's use case is to understand the total over/under-run for the project, for which only the original estimate and final completion date are required.

However Bernadine Fernz (OCP) and Evelyn highlighted use cases for:

1. providing a latest estimate (e.g. for groups that will benefit from the asset to know when it will be available, for groups affected by the develo

[2020-02-21 04:27] duncandewhurst opened #212 "Change history in OC4IDS"
Currently OC4IDS does not define an approach to publishing or maintaining a full change history, although explicit declaration of changes to the value, duration or scope of the individual contracting processes which make up an infrastructure project is supported through the `contractingProcesses/summary/modifications` array.

In reviewing the draft 0.9.2 release, @EvelynDinora noted a risk that in

[2020-02-21 16:07] jpmckinney commented on #211
'Sponsor' seems to generally fit, from the samples in the research notes. I think in some cases 'sponsors' (plural) is used to mean 'lenders' in the samples. However, the singular 'sponsor' (and especially the full term 'project sponsor') seems to always mean what we intend.

The concern around 'owner' is that the entity that is tendering and contracting the project might not 'own' the infrastruct

[2020-02-24 17:23] jpmckinney commented on #212
This is a risk regardless of publication pattern; a publisher can at any time republish their entire change history and replace all values…

How we address it depends on its frequency. My assumption is that falsifying information is fraudulent / illegal in every jurisdiction, so the frequency is low given that the penalty is high.

The simplest solution is for monitors to regularly collect data, a

[2020-03-12 02:22] duncandewhurst opened #213 "Fix link to releaseTag codelist"
The link from the [codelist reference](https://standard.open-contracting.org/infrastructure/0.9-dev/en/reference/codelists/#ocds-codelists) points to the releaseTag codelist in the OCDS documentation, however OC4IDS uses the extended releaseTag codelist from OCDS for PPPs, so the link should point to that instead.

[2020-03-17 17:43] nadinefernz commented on #211
sponsor could potentially be confusing; I have not seen it used in a consistent manner (as James points out above) and it is also not intuitive.

Also the ownership structure for PPPs or other PFI projects is important and we should be capturing that, in addition to the public authority responsible (as these may not always be the same).  Having said that, the key question is really about control (

[2020-03-17 17:57] nadinefernz commented on #211
here is a useful short doc on PPP modalities & ownership:
https://ppiaf.org/sites/ppiaf.org/files/documents/toolkits/highwaystoolkit/6/pdf-version/5-36.pdf

[2020-03-26 11:51] yolile opened #214 "Add project.identifiers array"
Currently project.id description is:

And only if you go to the Implementation guidance section you will know that you should use the project identifier prefix, which leads is some confusion for some publishers that are used to the ocid in OCDS, so maybe we can update the project.id definition with something more like the ocid definition:

cc @ElioenaiVazquez

[2020-03-26 17:49] ElioenaiVazquez commented on #214
Considering that the project.id field will be used for the global identifier, there should be a field to indicate the local identifier. I propose that the project.id field be the local identifier and that a new field be added for the global identifier.

[2020-03-27 01:27] duncandewhurst commented on #214
Thanks both!

This change is already staged for the next release of OC4IDS (see #160), where the description of the `id` field will be updated to:

Rather than changing the semantics of the existing field to be a local identifier, we can follow the pattern using for contracting processes and add an `.externalReference` field at the project level with the following description:

@yolile @ElioenaiVa

[2020-03-27 01:44] duncandewhurst commented on #211
So, projectSponsor and projectOwner both have downsides:

* projectSponsor - could be confusing, not used consistently
* projectOwner - the entity that is tendering and contracting the project might not 'own' the infrastructure at the end of the project

Would it be acceptable to keep the existing code and title, but update the description to remove the mention of 'owner'?

| .        | Code

[2020-03-27 04:28] jpmckinney commented on #211
I agree with the proposal.

[2020-03-27 12:00] EvelynDinora commented on #211
The proposed definition corresponds more to a Procuring Entity (CoST IDS) or Procuring Authority for PPPs: The entity that is tendering and contracting the project.

That definition is different to:

**Project owner**: public entity/authority that is responsible for developing infrastructure assets and/or deliver public services using those assets. Generally, this responsibility comes from a legal

[2020-03-27 16:00] jpmckinney commented on #211
To make clear the link between the public authority and the project, we can have:

[2020-03-29 22:51] duncandewhurst commented on #211
Thanks for the clarification Evelyn! This has been a really useful discussion.

I am happy with the latest proposal from James.

@nadinefernz is that good for you?

[2020-04-01 20:11] duncandewhurst opened #215 "Add example flatten-tool command to documentation"
The guidance on [publishing data from an infrastructure transparency portal](https://standard.open-contracting.org/infrastructure/0.9-dev/en/guidance/publishing/#publish-your-data) currently references using flatten-tool to generate CSV and Excel version of the data.

Since the flatten-tool docs don't have any OC4IDS specific content, we should include an example command, e.g.

[2020-04-28 03:17] duncandewhurst commented on #214
Noting the SISOCS also maintains a local/external identifier

[2020-04-30 03:13] duncandewhurst commented on #211
@nadinefernz - are you happy with the latest proposal?

I think this is the last blocker for the 0.9.2 release.

[2020-05-04 15:36] ElioenaiVazquez commented on #214
Sounds great, descriptions and logic seem correct to me

[2020-05-05 00:09] jpmckinney commented on #163
For the CoST IDS reactive disclosure section, I think it makes sense to add fields to OC4IDS itself, rather than create extensions.

The OCDS experience with extensions from my perspective is:

1. There is a high cost to discovery.
    * While improvements can be made to the Extension Explorer, my hypothesis is that there'd be greater adoption of commonly-needed extensions if they were simply part

[2020-05-05 04:58] duncandewhurst opened #216 "Separate the IDS and OCDS mappings"
The [IDS and OCDS mapping](https://standard.open-contracting.org/infrastructure/latest/en/cost/#mapping-to-ids-and-from-ocds) is serving two purposes:

1. Describing how to disclose each element of the CoST IDS using OC4IDS
2. Describing how to populate an OC4IDS file when you have access to OCDS data

Since those relate to two quite distinct use cases (disclosing data which complies with the CoST

[2020-05-05 09:02] pindec commented on #216
Yes, I agree this would be helpful, given the distinct use cases.

[2020-05-05 13:55] jpmckinney commented on #216
Yes, sounds good to me!

[2020-05-05 13:59] romifz commented on #216
Sounds good for me as well.

[2020-05-05 19:49] LindseyAM commented on #216
Would like to preserve this mapping of OCDS -> OC4IDS -> CoST IDS

We have a strong use case for its existence in Afghanistan and I can envision more demand for this guidance down the road.

Would propose we have one table that presents IDS -> OC4IDS  and then another table that presents OCDS -> OC4IDS -> Cost IDS (accompanied by link and guidance on how to use OCDS KIT to convert).

[2020-05-05 20:36] jpmckinney opened #217 "Remove repetitive "OCDS:" from Mapping from OCDS"

[2020-05-05 20:38] jpmckinney commented on #216
@LindseyAM Can you clarify the use case in Afghanistan?

@duncandewhurst Are you anticipating any change in the structure of the source CSV files, or only a change in how those files are rendered in the documentation?

If there's no change in structure, then we can have tables rendered with different sets of columns and different column orders, on different pages, to satisfy all use cases.

[2020-05-05 21:21] duncandewhurst commented on #216
I think it can be achieved whilst keeping a single source table, but I'll need to work through how to integrate the improvements and clarifications from convert-to-oc4ids to be sure.

[2020-05-05 21:23] LindseyAM commented on #216
Integrity Watch Afghanistan is advocating for the NPA to become an OC4IDS publisher. NPA agreed but wants to prioritize completing their work on OCDS first. The next thing they are finishing is the tender module of their eGP (and the related OCDS publication).  Then, it seems like it would be a good candidate to convert to OC4IDS and fill in the gaps.

[2020-05-12 15:40] nadinefernz commented on #211
I am also content with james proposal

[2020-05-12 23:25] #211 closed, assigned to nobody

[2020-05-14 00:02] duncandewhurst commented on #163
Thanks @jpmckinney I am happy with that approach for OC4IDS.

Once we have expanded the CoST IDS mapping table in the OC4IDS documentation to include the reactive discIosure items, implementers who are interested in complying with the CoST IDS can use the table to check which OC4IDS fields are recommended for disclosure in the proactive section of the CoST IDS, the reactive section or neither.

I

[2020-05-14 00:11] duncandewhurst opened #220 "Document mappings, schema and codelists for the disclosures recommended in the reactive section of the CoST IDS"
Update the [IDS mapping](https://standard.open-contracting.org/infrastructure/latest/en/cost/) to cover the reactive disclosure section of the [CoST IDS](http://infrastructuretransparency.org/wp-content/uploads/2018/06/36_List_of_CoST_Project_Information.pdf).

Document additional schema and codelist entries as required, for inclusion in the main OC4IDS schema.

Related issues: https://github.com/

[2020-05-19 02:50] romifz opened #221 "`documentType` description in schema links to OCDS for PPP codelist"
In development version. Is this right?

[2020-05-27 21:32] duncandewhurst commented on #221
Ah, good spot. `party/roles` has the same issue.

The descriptions previously pointed to the OC4IDS codelists, but it looks like the PPP links were introduced by running `borrow-schema.py` in https://github.com/open-contracting/infrastructure/commit/9ae90e0e738cfc0f745c6eafb52703cf563a1304

I've updated `borrow-schema.py` to replace the links with the correct OC4IDS ones

[2020-06-03 00:37] duncandewhurst opened #223 "Run ocdskit schema-strict"
Run ocdskit schema-strict and check that extra validations are desired.

[2020-06-03 00:55] #221 closed, assigned to duncandewhurst

[2020-06-10 08:19] pindec opened #224 "Docs version warning refers to OCDS not OC4IDS"
When viewing a development version of the docs, e.g. [dev master here](https://standard.open-contracting.org/infrastructure/master/en/), the warning at the top reads:

"This is a development copy of the **OCDS** docs, the latest live version is 1.1."

This should say OC4IDS.

[2020-06-10 20:56] jpmckinney commented on #224
I can fix this in the deploy repository.

[2020-06-10 21:43] jpmckinney commented on #224
Done.

[2020-06-10 21:43] #224 closed, assigned to nobody

[2020-06-23 00:02] #179 closed, assigned to duncandewhurst

[2020-06-24 02:41] duncandewhurst commented on #207
@jpmckinney I think we're ready to create a PR for the 0.9.2 update. Do you need to do this first?

[2020-06-24 02:53] jpmckinney commented on #207
Looks like I did it in 33c7c5e62d5eeac0f883d77386bba9d2da3fd6b4!

[2020-06-24 03:12] jpmckinney commented on #207
Actually, noticing some things I might have been referencing.

[2020-06-25 02:22] #207 closed, assigned to jpmckinney

[2020-07-22 03:32] jpmckinney commented on #163
Noting that Schema.org decided against extensions after trying two mechanisms: https://schema.org/docs/extension.html

cc @stevenday (apologies for later unrelated notifications, but I think you can unsubscribe if so :))

[2020-07-28 01:27] duncandewhurst opened #233 "Location data for roads"
CoST Ukraine capture the following location data for infrastructure projects relating to roads:

* The identifier for the road, drawn from either the state roads index, or a regional administration's road index, e.g. 'T03' or 'Т-16-10'.
* (TBC) The index the identifier is drawn from.
* The start and end locations for the works, specified by a kilometer marker plus a number of meters. One project c

[2020-07-28 02:53] jpmckinney commented on #233
We can maybe have:

[code]

1. There are many, many ways to describe a location. We have fields for three very common means (geometry, gazetteer, physical address), but there are others like kilometer marker ranges, an item's warehouse location, etc. I don't think we eventually want a dozen miscellaneous descriptors, so an array of user-definable descriptors seems better.
2. I don't understand why

[2020-08-11 18:57] ElioenaiVazquez opened #234 "Extensions in OC4IDS"
Currently the Packaging data scheme does not consider any section to reference the extensions. In Mexico, at the moment, we are using the Budget Lines extension of ocds, and later we could consider the addition of another ones; therefore, we consider it is necessary to add an array to identify the extensions.

We detected this situation after loading some test files into the oc4ids Data Review Too

[2020-08-11 20:51] duncandewhurst commented on #234
Thanks @ElioenaiVazquez

We plan to add support for extensions in OC4IDS using the same mechanism as in OCDS.

In the meantime, you can add an `extensions` key to the package metadata, but this is not yet supported in the OC4IDS Data Review Tool, so fields from extensions (and the `extensions` key itself) will still be reported as additional fields.

However, it will still be useful to create exte

[2020-08-21 03:40] jpmckinney opened #235 "Upgrade to OCDS 1.1.5"
~~Very simple steps: https://ocds-standard-development-handbook.readthedocs.io/en/latest/profiles/technical/build.html~~

[2020-08-24 01:38] duncandewhurst commented on #235
`build-profile.py` doesn't exist in OC4IDS and I don't think `standard_tag` set in `conf.py` is used anywhere.

The correct steps for OC4IDS are:

1. Upgrade OCDS for PPPs to the latest version of OCDS
2. Run `make clean_dist` then `python schema/borrow-schema.py`

Edit: The updated version of OCDS for PPPs needs to be deployed before running `borrow-schema.py`.

[2020-08-31 17:21] jpmckinney commented on #235
Thanks! Once we update OCDS for PPPs, we can return to this issue.

https://ocds-standard-development-handbook.readthedocs.io/en/latest/profiles/infrastructure.html#development-tasks

[2020-09-09 23:03] duncandewhurst commented on #210
At the same time we can update the OC4IDS mapping column to explain that a code from the OC4IDS sector codelist should be used, since the description from the IDS mentions developing a list.

[2020-09-18 02:28] duncandewhurst opened #237 "Add maintenance code to projectType codelist, update code descriptions and add typeDetails field"
CoST Ukraine uses the World Bank's classification for road project types which has the following codes (these were shared via email, I've asked for a link to where the classification is documented):

Project Type | Description
-------------------------------------|----------------
Construction | The primary focus of this project is the construction of a new road
Rehabilitation | The primary focus

[2020-09-18 02:29] duncandewhurst opened #238 "Improve descriptions for codes in the projectType codelist"
From #237:

[2020-09-18 02:49] jpmckinney commented on #237
"upgrade" sounds a bit like 'expansion' ("taking into account the growth of traffic intensity and axial loads, increasing the strength of the road structure").

I'm not clear on the difference between routine and recurrent maintenance. Anyhow, we'll need to be careful in distinguishing 'rehabilitation' from 'maintenance'.

[2020-09-18 03:11] duncandewhurst commented on #237
Yes, that was my initial thought, but there seems to be a distinction between upgrading the road "without changing the technical category" and other types of project, which by inference might change the category of the road, e.g. adding a lane. I suspect the definitions of construction and rehabilitation in the full classification might help to clarify, or perhaps Evelyn or Ben can advise.

My rea

[2020-09-18 11:34] ColinMaudry commented on #163
I think a field database bound to a multilingual glossary of terms would greatly help. Fields could be tagged and categorized according to various properties such as:

- OCDS version compatibility
- core or extension
- update date

Full text search would enable discovery via keywords... especially if synonyms are documented in the glossary for keyword equivalency!

With the EU extensions alone, I

[2020-09-19 22:16] jpmckinney opened #239 "Switch docson to open-contracting's fork"

[2020-09-21 23:55] duncandewhurst opened #240 "Include examples for individual field values in schema reference page"
In addition to the full worked example, it would be easier to refer implementers to examples for individual fields if these were included in the schema reference tables.

We'd need to look at how to rearrange the reference tables to fit the example in and some examples would be quite long, but we could use collapsing/expanding to take care of that, e.g.

![image](https://user-images.githubusercont

[2020-09-22 06:59] stevieflow commented on #240
@duncandewhurst looks interesting.

Tangential, but might be of interest: when @Bjwebb @caprenter and I did the IATI 2.01 documentation, we included the relevant block for the parent element in the (XML) schema, and then highlighted the particular sub-element that was relevant to the documentation page.  It involved annotating an example XML file - which was then pulled in via rst.  It worked - bu

[2020-09-22 20:39] duncandewhurst commented on #240
Thanks @stevieflow, I was thinking along similar lines here, i.e. update the `jsonschema` sphinx directive to pull in the relevant bit of the [example JSON file](https://standard.open-contracting.org/infrastructure/latest/en/_static/example.json) based on the JSON pointer, so I don't think we'd need to annotate the JSON file.

[2020-09-29 01:05] jpmckinney commented on #240
There are a few places now in which JSON Schema is parsed for presentation. The Extension Explorer adds a few features beyond what sphinxcontrib-jsonschema offers – mainly, better reporting of types (e.g. "Period" with a link to its definition, instead of "object"). https://github.com/open-contracting/ocdskit/issues/151 is about centralizing that logic, so that we don't need to add new features in

[2020-10-06 14:10] EvelynDinora commented on #237
Hi,

I had an internal discussion before responding to you and I could get the following explanation:

Periodic Maintenance, such as re-gravelling, or surface dressing, is carried out proactively on a planned basis shortly before visible signs of distress and defects, though the underlying deterioration can be detected and predicted through a testing regime including - in the case of sealed roads

[2020-10-06 14:15] EvelynDinora commented on #237
We know that they have something in common, but they are clearly different types of intervention:

Maintenance and rehabilitation are used to slow down or reset deterioration process.
Maintenance actions help slow the rate of deterioration by identifying and addressing specific deficiencies that contribute to overall deterioration.
Rehabilitation is the act of repairing portions of an existing ass

[2020-10-07 22:30] duncandewhurst commented on #237
Thanks @EvelynDinora, that's a really helpful clarification.

Based on your feedback and @jpmckinney's suggestion to map 'upgrade' to 'expansion' we could update the project type codelist as follows (changes in *italics*):

**Project type codelist**

Code | Title | Description
-- | -- | --
construction | Construction | The primary focus of this project is the construction of a new asset.
rehabilit

[2020-10-07 22:36] jpmckinney commented on #237
I like the proposed approach.

[2020-10-09 08:23] EvelynDinora commented on #237
I agree with the approach too.

In case we need the definitions for Maintenance sub-categories I have asked my colleagues to provide something acceptable from a technical perspective:

Routine Maintenance
Routine maintenance entails work that is required to be carried out continually (often on a rolling basis) on every road, irrespective of its engineering features or volume of vehicular traffic.

[2020-10-13 10:10] pindec opened #241 "OC4IDS worked example has an empty field"
The [worked example](https://standard.open-contracting.org/infrastructure/latest/en/_static/example.json) has missing identifiers in [line 82](https://github.com/open-contracting/infrastructure/blob/bd4046ea04581f4f9b375ce7cde34248b4ecf2c9/docs/examples/example.json#L82) `/projects/0/locations/1/gazetteer/identifiers`:

`"gazetteer": {
            "scheme": "osm",
            "identifiers": []
}`

[2020-10-21 04:04] duncandewhurst commented on #237
Thanks, both.

I've suggested CoST Ukraine use this approach and include the descriptions provided by @EvelynDinora in their publication policy.

In terms of including the additional descriptions as a codelist, we'd need to think about how to do that exactly since they are specific to roads, but we could certainly include them in the documentation.

[2020-10-21 20:47] duncandewhurst opened #242 "Add approvalDate to BudgetBreakdown object"
In CoST Ukraine's platform, an infrastructure project can have multiple funding sources, each with their own approval date. For [example](https://costportal.mtu.gov.ua/tblpub/PROJECTS.php?hname=dbo_PROJECTS_dbo_PROJECTS_FINANCING_handler&fk0=13524&master_viewmode=0):

![image](https://user-images.githubusercontent.com/19265814/96780230-1e647400-1449-11eb-8af4-cfce5179bf3b.png)

This can occur when

[2020-10-21 20:49] jpmckinney commented on #242
Looks good to me!

[2020-10-21 21:17] duncandewhurst opened #243 "Link to extension explorer for OCDS extensions"
The [BudgetBreakdown reference](https://standard.open-contracting.org/infrastructure/latest/en/reference/schema/#budgetbreakdown) includes links to the Github pages for the Budget Breakdown and Budgets and Spend extensions.

We should instead link to the extension explorer pages for these extensions and any other extensions referenced in the documentation.

[2020-11-23 01:50] duncandewhurst commented on #242
Noting that we lack a means to link documents tagged with 'budgetApproval' to specific `BudgetBreakdown` objects. cc @pindec

[2020-11-23 22:43] duncandewhurst opened #244 "Add classification scheme codelist with SDG and SDGTarget codes"
Similar to https://github.com/open-contracting/standard/issues/1098, [SIF SOURCE](https://public.sif-source.org/source/) tags infrastructure projects with the SDGs the project targets.

`additionalClassifications` can be used to model this data in OC4IDS, but we should add a codelist for `.scheme` so that publishers use a consistent scheme code for SDGs.

[2020-11-24 02:46] duncandewhurst opened #245 "nature: add new codes, improve descriptions for field and codes and add a natureDetails field"
See https://github.com/open-contracting-extensions/public-private-partnerships/issues/238#issuecomment-732547466

[2020-12-10 00:59] duncandewhurst opened #246 "Broken link to budgets and projects extension"
The [project identifiers in OCDS guidance](https://standard.open-contracting.org/infrastructure/latest/en/guidance/identifiers/#project-identifiers-in-ocds) has a broken link to https://extensions.open-contracting.org/en/extensions/budget_project/

The link should be https://extensions.open-contracting.org/en/extensions/project/master/

I'm pretty sure this was working previously, so the URL must

[2020-12-11 05:01] jpmckinney commented on #246
Yes, the project extension has nothing to do with budgets, to the name was changed.

[2020-12-17 15:35] odscrachel opened #247 "Favicon"
I noticed that the OC4IDS standard website doesn't yet have a favicon tab icon. Is this something we should add? Firefox doesn't show a default, so it's easy to lose when a lot of tabs are open.

If we create one, I suggest that we make it a crane :)

[2020-12-18 03:00] jpmckinney commented on #247
In the short term I think we just need to add `html_favicon = '_static/favicon-16x16.ico'` to `conf.py` like in the standard docs to get our regular favicon. Creating a new favicon would involve agreeing a logo between OCP and CoST, which will not be a short affair :)

[2020-12-21 02:35] duncandewhurst opened #248 "Add a field to indicate a project's procurement approach"
SIF's SOURCE platform includes:

* a boolean `isPPP/concession` field with the following semantics:

* a boolean `Unsolicited Project` field, to indicate whether a project resulted from an [unsolicited proposal](https://ppp.worldbank.org/public-private-partnership/ppp-overview/ppp-procurement-bidding/unsolicited-proposals/unsolicited-proposals).

[2020-12-21 02:38] duncandewhurst opened #249 "Add a field to indicate whether a project is an unsolicited proposal"
SIF's SOURCE platform includes a boolean `Unsolicited Project` field, to indicate whether a project resulted from an [unsolicited proposal](https://ppp.worldbank.org/public-private-partnership/ppp-overview/ppp-procurement-bidding/unsolicited-proposals/unsolicited-proposals).

[2020-12-21 02:44] duncandewhurst opened #250 "Add a field to indicate whether a project includes government support"
SIF's SOURCE platform includes a boolean `Government support` field to indicate whether the project includes [government support](https://ppp.worldbank.org/public-private-partnership/financing/government-support-subsidies)

[2020-12-21 03:13] duncandewhurst opened #251 "Payment mechanism"
SIF's SOURCE platform includes a `Contractual Arrangement` field with the following codelist:

* User-pays PPP
* Government Pays PPP
* PPP
* Concession
* Lease to Concession Transformation (specific to Ukraine)
* Design Build Operate
* Design Build Maintain
* Design and Build
* Build Only

This codelist seems to mix information on the functions that the private sector is responsible for (Design, B

[2020-12-21 03:26] jpmckinney commented on #248
In OCDS, this would usually be communicated as `tender/procurementMethodDetails` in a planning release, to describe the intended procedure.

From #249: In OCDS, this would broadly fall under the semantics of `tender/procurementMethodDetails` (the name of the field obviously not being friendly to non-procurement contracts).

We can consider renaming the field for OC4IDS, since its values are broade

[2020-12-21 03:29] jpmckinney commented on #250
We could maybe have a mostly empty finance object to indicate the government support, but without additional details, following the same model as OCDS: https://extensions.open-contracting.org/en/extensions/finance/master/schema/

[2020-12-21 03:36] jpmckinney commented on #251
For the payment mechanism, it seems related to https://extensions.open-contracting.org/en/extensions/charges/master/ and https://extensions.open-contracting.org/en/extensions/tariffs/master/ which uses `paidBy` to indicate 'government' or 'user'.

For the arrangement type, that seems to be the same subject as https://github.com/open-contracting/standard/issues/1144

[2020-12-21 03:38] duncandewhurst opened #252 "Add specific fields for project stage start and end dates"
SIF's SOURCE platform includes the following fields for start and end dates for project stages:

* Project_Definition_Start_Date
* Project_Definition_End_Date
* Project_Preparation_End_Date
* Procurement_End_Date
* Construction_End_Date
* O&M_End_Date

These stages mostly seem to map to the stages in the CoST IDS:

SOURCE stage | SOURCE description | IDS stage | IDS description
-- | -- | -- | --
D

[2020-12-21 03:41] jpmckinney commented on #249
In OCDS, this would broadly fall under the semantics of `tender/procurementMethodDetails` (the name of the field obviously not being friendly to non-procurement contracts).

[2020-12-21 03:48] jpmckinney commented on #252
I'm okay with the first four since they match IDS, but I'd prefer to leave the last in milestones until we have more evidence from more jurisdictions.

[2020-12-21 21:14] duncandewhurst commented on #248
My understanding is that, in SOURCE, this information relates to planning the project as a whole so there likely wouldn't be any entries in the `contractingProcesses` array at that stage.

[2020-12-21 21:15] duncandewhurst commented on #249
My understanding is that, in SOURCE, this information relates to planning the project as a whole so there likely wouldn't be any entries in the `contractingProcesses` array at that stage.

[2020-12-21 21:26] jpmckinney commented on #249
I meant in terms of an analogue that can be added to the Project object.

[2020-12-21 21:26] jpmckinney commented on #248
Like #249, I meant in terms of an analogue that can be added to the Project object.

[2020-12-21 21:46] duncandewhurst commented on #250
Could you sketch a JSON example of what you mean?

[2020-12-21 22:00] duncandewhurst commented on #251
The tariffs extension is for user charges only.

The charges extension is for recording the financial values of the charges applied to users or government. Reusing it to represent the payment mechanism for the project is possible:

[code]

However, for the use case of identifying the payment mechanism for a project, I'm not sure what the value add is over just using a `paymentMechanism` string arr

[2020-12-21 22:07] duncandewhurst opened #253 "Add a project-level milestones array"
To allow publishers to disclose key project dates for which there isn't a specific field in OC4IDS, e.g. the operation and maintenance end date discussed in #252

[2020-12-21 22:20] jpmckinney commented on #251
I assume we will discover more information about payments that can be disclosed, beyond just the mechanism. In that case, an object is better than a string.

The PPP Knowledge Lab Reference Guide is suggestive as to what other facts might be disclosed, e.g. not just who pays (user, government or both) but what they are paying (a particular toll or tariff, a complementary payment to subsidize low-i

[2020-12-21 22:22] jpmckinney commented on #250
The [OCDS for EU](https://standard.open-contracting.org/profiles/eu/master/en/forms/F01/#/OBJECT_CONTRACT/OBJECT_DESCR/EU_PROGR_RELATED) extension uses a Finance object to indicate the financingParty and a description. Here, the financingParty could be similarly set. This allows for future details to be added at an appropriate location.

[2020-12-21 22:28] duncandewhurst commented on #251
My thinking was that OC4IDS could include the summary field (which relates to the project planning and seems likely to be something users might want to filter projects on) and then the existing OCDS for PPPs extensions could be used to provide the details (which relate to the specific contract in which the charges, tariffs or subsidies are specified).

[2020-12-21 22:54] jpmckinney commented on #251
We presently have one system that has very simple information (with respect to this issue), and we have guidance that suggests that more complex information is possible. It'd be good to check whether other systems provide additional information at the project/summary level, or if they are all similarly simple - before committing a field to the schema.

[2020-12-21 23:03] duncandewhurst commented on #248
[ANZIP](https://infrastructurepipeline.org/) includes a `Procurement Approach` field which mixes various concepts but includes some values relevant to this issue:

* **Market Led Proposal**
* **Confirmed PPP**
* **Traditional Procurement**
* **Possible PPP**
* Alliance
* Privatisation
* Unconfirmed
* Operations & Maintenance
* Power Purchase Agreement

[2020-12-21 23:05] duncandewhurst commented on #249
[ANZIP](https://infrastructurepipeline.org/) includes a `Procurement Approach` field which mixes various concepts but includes some values relevant to this issue:

* **Market Led Proposal**
* Confirmed PPP
* Traditional Procurement
* Possible PPP
* Alliance
* Privatisation
* Unconfirmed
* Operations & Maintenance
* Power Purchase Agreement

[2020-12-21 23:06] duncandewhurst commented on #251
Regarding functions and contractual arrangement, [ANZIP](https://infrastructurepipeline.org/) has a `Procurement Approach` field which mixes various concepts, but has some values which may be relevant to this issue:

* Market Led Proposal
* Confirmed PPP
* Traditional Procurement
* Possible PPP
* Alliance
* Privatisation
* Unconfirmed
* Operations & Maintenance
* Power Purchase Agreement

[2020-12-21 23:07] duncandewhurst commented on #251
Regarding the payment mechanism, [ANZIP](https://infrastructurepipeline.org/) has a `Funding Contributions` contributions field which has the following possible values:

* User charges
* Commonwealth Government
* NSW Government
* ACT Government
* VIC Government
* QLD Government
* SA Government
* WA Government
* NT Government
* TAS Government
* NZ Government
* Singapore Government
* Auckland Counci

[2020-12-21 23:11] duncandewhurst commented on #252
ANZIP includes expected and actual construction commencement and completion dates, which could map to `implementationPeriod`

[2020-12-21 23:12] duncandewhurst commented on #253
SIF's SOURCE platform also includes the following project-level milestones which are not covered by explicit fields in OC4IDS:

* Planning start (target and actual)
* Planning end (target and actual)

ANZIP includes the following project-level milestones which are not covered by explicit fields in OC4IDS

* Construction commencement (expected and actual)

[2020-12-22 15:07] jpmckinney commented on #251
Let's maybe split the issue in two, as I think it will get confusing talking about payment mechanisms and arrangement types in the same issue.

[2020-12-23 01:38] duncandewhurst opened #254 "Contractual arrangement"
From #251:

From https://github.com/open-contracting/infrastructure/issues/251#issuecomment-749245855:

[2020-12-23 01:41] duncandewhurst commented on #251
Done!

[2021-01-12 21:41] #135 closed, assigned to nobody

[2021-01-12 23:01] duncandewhurst opened #261 "documentType codelist: Add 'projectFeasibilityStudy' code"
The reactive disclosure section of the CoST IDS includes the following element:

## Proposal

Add a 'projectFeasibilityStudy' code to the `documentType` codelist with the following definition:

Alternatively, we could add "or project" to the description of the existing (contracting process) 'feasibilityStudy' code from OCDS:

@jpmckinney which do you think is the best option?

[2021-01-12 23:14] duncandewhurst opened #262 "documentType codelist: Add 'socialImpact' code"
The reactive disclosure section of the CoST IDS includes the following element:

The `documentType` codelist already has an 'environmentalImpact' code but its description doesn't cover social impact:

Based on the International Association for Impact Assessment's [definition](https://www.iaia.org/wiki-details.php?ID=23), social impact is essentially impact on people.

## Proposal

Add a 'socialImp

[2021-01-12 23:31] duncandewhurst opened #263 "documentType codelist: Add 'resettlementPlan' code"
The reactive disclosure section of the CoST IDS includes the following element:

The IFC [defines](https://www.ifc.org/wps/wcm/connect/ee19f150-f505-41db-891f-6ef5557195b6/ResettlementHandbook.PDF?MOD=AJPERES&CACHEID=ROOTWORKSPACE-ee19f150-f505-41db-891f-6ef5557195b6-jkD0CRL) (page 12) a resettlement action plan as:

## Proposal

Add a 'resettlementPlan' code to the `documentType` codelist with th

[2021-01-12 23:43] duncandewhurst opened #264 "Add a field and class for natural persons (project and contract officials and roles)"
The reactive disclosure section of the CoST IDS includes the following elements:

## Proposal

Based on the approach suggested in https://github.com/open-contracting/standard/issues/883#issuecomment-722785450:

* add a `people` array to the `Organization` object
* define a `Person` object with the following properties:
  * `id`
  * `name`
  * `jobTitle`

Example:

[code]

[2021-01-12 23:48] duncandewhurst opened #265 "documentType codelist: add 'projectFinancialAgreement' code"
The reactive disclosure section of the CoST IDS includes the following element:

## Proposal

Add a 'projectFinancialAgreement' code to the `documentType` codelist with the following title and description:

Alternatively, we could omit "project" but we might then find there are other types of financial agreement that do not fit the description.

[2021-01-12 23:59] duncandewhurst opened #266 "documentType codelist: Add 'budgetAmendmentDecision' code"
The reactive disclosure section of the CoST IDS includes the following element:

## Proposal

Add a 'budgetAmendmentDecision' code to the `documentType` codelist with the following title and description:

[2021-01-13 00:01] duncandewhurst opened #267 "documentType codelist: Add 'projectCompletionReport' code"
The reactive disclosure section of the CoST IDS includes the following element:

## Proposal

Add a 'projectCompletionReport' code to the `documentType` codelist with the following title and description:

[2021-01-13 00:03] duncandewhurst opened #268 "documentType codelist: add 'technicalAuditReport' code"
The reactive disclosure section of the CoST IDS includes the following element:

## Proposal

Add a 'technicalAuditReport' code to the `documentType` codelist with the following title and description:

[2021-01-13 00:05] duncandewhurst opened #269 "documentType codelist: Add 'financialAuditReport' code"
The reactive disclosure section of the CoST IDS includes the following element:

## Proposal

Add a 'financialAuditReport' code to the `documentType` codelist with the following title and description:

[2021-01-13 00:06] duncandewhurst opened #270 "documentType codelist: Add 'projectDesignReport' code"
The reactive disclosure section of the CoST IDS includes the following element:

## Proposal

Add a 'projectDesignReport' code to the `documentType` codelist with the following title and description:

[2021-01-13 00:08] duncandewhurst opened #271 "documentType codelist: add 'escalationApprovals' code"
The reactive disclosure section of the CoST IDS includes the following element:

## Proposal

Add a 'escalationApprovals' code to the `documentType` codelist with the following title and description:

[2021-01-13 00:10] duncandewhurst opened #272 "documentType codelist: add 'qualityAssuranceReport' code"
The reactive disclosure section of the CoST IDS includes the following element:

## Proposal

Add a 'qualityAssuranceReport' code to the `documentType` codelist with the following title and description:

[2021-01-13 00:29] jpmckinney commented on #261
I prefer the second option, like for other `documentType` codes.

[2021-01-13 01:52] duncandewhurst opened #273 "Transactions (disbursement records) and payment certificates"
The reactive disclosure section of the CoST IDS has the following element:

CoST clarified that disbursement records match the OCDS concept of transactions and that payment certificates are:

## Proposal

Add a `transactions` array to `ContractingProcess/summary` and reuse the OCDS `Transaction` object.

Add a 'paymentCertificate' code to the `documentType` codelist, with the following title and d

[2021-01-13 01:58] duncandewhurst commented on #267
Noting that based on the description, this seems more like a certificate than a report so we could instead add 'or project' to the OCDS 'completionCertificate' code:

[2021-01-13 02:39] duncandewhurst opened #274 "documentType codelist: Add 'incorporationCertificate' code"
The reactive disclosure section of the CoST IDS has the following element:

CoST clarified this requirement covers both data and documents. The requirement can be met by providing an organization identifier (data) and a copy of the certificate of incorporation (document).

## Proposal

Add a 'incorporationCertificate' code to the `documentType` codelist, with the following title and description:

[2021-01-13 02:43] duncandewhurst opened #275 "documentType codelist: Add 'contractAmendment' code"
The reactive disclosure section of the CoST IDS has the following element:

## Proposal

Add a 'contractAmendment' code to the `documentType` codelist, with the following title and description:

[2021-01-18 18:11] jpmckinney commented on #262
A clearer definition might reuse some of these parts of the IAIA page:

[2021-01-18 18:13] jpmckinney commented on #262
The definition can be similarly structured to 'environmentalImpact'.

[2021-01-18 18:15] jpmckinney commented on #263
Looks good, though I suggest changing "persons" to "people" as the former is just legalistic style, but not semantically different (https://www.merriam-webster.com/words-at-play/people-vs-persons).

[2021-01-18 18:19] jpmckinney commented on #265
I prefer to omit project, unless you have a good idea of what financial agreements might not fit the description?

I think the style is to start with an article, "A loan", except for descriptions starting with "Documentation"

[2021-01-18 18:19] jpmckinney commented on #266
Looks good, though add a period at the end of every description.

[2021-01-18 18:20] jpmckinney commented on #268
Looks good.

[2021-01-18 18:22] jpmckinney commented on #268
Actually, for this and #265 and #266, where do the quoted descriptions come from?

[2021-01-18 18:23] jpmckinney commented on #269
Looks good, assuming the quoted description is from an authoritative source.

For OCDS, we might prefer this code to the existing 'finalAudit', since audits can occur at other times than final.

[2021-01-18 19:38] jpmckinney commented on #275
Looks good, assuming the quoted description is from an authoritative source.

[2021-01-18 19:39] jpmckinney commented on #272
Looks good, assuming the quoted description is from an authoritative source.

[2021-01-18 19:41] jpmckinney commented on #271
"containing a list of the escalations approved" seems odd. Would it be fine to change the code to singular, and have:

I don't know what an escalation is, though.

[2021-01-18 19:42] jpmckinney commented on #270
The description doesn't seem to say what the report is, but rather when it's issued and who authors it.

[2021-01-18 19:46] jpmckinney commented on #269
I see 'finalAudit' is also in OC4IDS. Is it used? If not, we might remove it.

[2021-01-18 19:47] jpmckinney commented on #266
Actually, we already have 'budgetApproval'

This code doesn't seem so different. At minimum, the code should be changed to 'budgetAmendmentApproval'.

[2021-01-18 19:51] jpmckinney commented on #274
Certificates of incorporation are more of a Commonwealth term. The broader term is Articles of Association. We might build a description based on https://www.investopedia.com/terms/a/articles-of-association.asp

[2021-01-18 19:52] jpmckinney commented on #270
Also, we might consider omitting 'project' from the code, like in other issues.

[2021-01-18 19:53] jpmckinney commented on #267
Yes, let's edit 'completionCertificate'.

[2021-01-18 19:55] jpmckinney commented on #264
Looks good!

[2021-01-18 19:59] jpmckinney commented on #273
The first part of the description of 'paymentCertificate' overlaps, with 'completionCertificate', no?

Adding a `transactions` array sounds good, and I guess the guidance will explain when/which transactions to put in the summary vs individual contracting processes.

[2021-01-18 20:23] duncandewhurst commented on #274
Hmm, in the UK the two terms have different meanings:

* [Articles of association](https://www.gov.uk/limited-company-formation/memorandum-and-articles-of-association) are written rules about running the company (same as the investopedia link)
* The [certificate of incorporation (1.19)](https://www.gov.uk/government/publications/incorporation-and-names/incorporation-and-names) is evidence that the

[2021-01-18 20:31] jpmckinney commented on #274
In jurisdictions without certificates, the articles are often used as evidence.

We can leave the code as 'incorporationCertificate', but change the description to:

based on https://en.wikipedia.org/wiki/Certificate_of_incorporation That way, if a registry doesn't issue certificates, some other evidence could be used with this code to satisfy the same need.

[2021-01-18 20:37] jpmckinney commented on #274
Hmm, I'm getting different results from different sources. Wikipedia seems to conflate the terms too much:

* https://en.wikipedia.org/wiki/Certificate_of_incorporation
* https://en.wikipedia.org/wiki/Articles_of_incorporation
* https://en.wikipedia.org/wiki/Articles_of_association

We can just go with the first sentence from my comment above. It could just be that Wikipedia has a Commonwealth bia

[2021-01-18 22:10] duncandewhurst commented on #275
I proposed the description based on a contract amendment being "a change or an addition to the terms of a contract" ([Investopedia](https://www.investopedia.com/terms/a/amendment.asp)) and "a separate legal document that changes the terms of an existing contract" ([LegalNature](https://www.legalnature.com/categories/business/contract-amendment)), and following the 'documentation of...' pattern use

[2021-01-18 22:18] jpmckinney commented on #275
I prefer a description that explains the title rather than repeating the same words. Also, a contract amendment as defined by those two sources and "documentation of" an amendment might not be the same thing. So maybe:

[2021-01-18 22:20] duncandewhurst commented on #273
I think the difference may be that a completion certificate relates to the completion of the whole project, whereas a payment certificate relates to the completion of the works specified on a contractors estimate or invoice, of which there might be many during the course of a project. @evelyndinora - please can you clarify?

The aim would be to avoid CoST programmes which are implementing OC4IDS a

[2021-01-18 22:25] duncandewhurst commented on #272
The description is based on the New York State Department of Transport's definition of a 'project quality assurance report' ([section II.A](https://www.dot.ny.gov/portal/pls/portal/mexis_app.pa_ei_eb_admin_app.show_pdf?id=10331)). CoST confirmed the description is appropriate.

[2021-01-18 22:28] duncandewhurst commented on #271
The singular version looks good to me. @evelyndinora - please could you confirm?

Based on the draft descriptions in the [CoST IDS mapping](https://standard.open-contracting.org/infrastructure/latest/en/cost/?highlight=escalation#implementation) an escalation is an increase in the price of materials, labour, equipment etc. due to fluctuations in inflation, currency etc.

[2021-01-18 22:48] duncandewhurst commented on #270
@evelyndinora - please could you clarify what the project design report is? I struggled to find an authoritative definition.

[2021-01-18 22:54] duncandewhurst commented on #269
The description is based on the [Cambridge Dictionary definition](https://dictionary.cambridge.org/dictionary/english/financial-audit) of 'financial audit':

CoST confirmed the description is appropriate.

'finalAudit' is currently referenced in the CoST IDS mapping for the (proactive) 'Reference to audit and evaluation reports' element, but I think it would be better to replace with the more desc

[2021-01-18 22:56] duncandewhurst commented on #268
This description is based on [CoST's description](https://infrastructuretransparency.org/2018/11/12/turning-infrastructure-data-into-compelling-information-the-added-value-of-cost-assurance/) of a technical audit (beginning of section 2.):

I'll update #265 and #266 with the source of the descriptions.

[2021-01-18 23:00] duncandewhurst commented on #266
I'm happy with 'budgetAmendmentApproval'. Based on the descriptions, 'budgetApproval' is for the approval of the original budget and this code is for the approval of any subsequent changes to the budget.

Regarding https://github.com/open-contracting/infrastructure/issues/268#issuecomment-762407471, CoST provided this description, as I wasn't able to find an authoritative source to defer to.

[2021-01-18 23:05] duncandewhurst commented on #265
Nothing in particular, but 'financial agreement' seems like a very general term, whilst the description is quite specific.

Regarding https://github.com/open-contracting/infrastructure/issues/268#issuecomment-762407471, CoST provided this description as I wasn't able to find an authoratitive source to defer to.

[2021-01-18 23:40] jpmckinney commented on #272
For this and other issues, can you quote the relevant text? It's much easier to review, and in future we'll be able to point back to the quoted text, even if the link no longer works.

[2021-01-18 23:41] jpmckinney commented on #271
Since the IDS element is "Escalation of contract price", I suggest:

[2021-01-18 23:43] jpmckinney commented on #268
👍

[2021-01-18 23:45] jpmckinney commented on #265
"Loan or donation agreement with financing conditions" is fairly generic, as they are the most common forms of financing.

[2021-01-18 23:47] jpmckinney commented on #269
👍

[2021-01-18 23:48] jpmckinney commented on #269
Small change:

[2021-01-18 23:49] jpmckinney commented on #266
👍

[2021-01-19 01:25] jpmckinney commented on #272
Thanks! Looks good.

[2021-01-26 23:13] duncandewhurst opened #277 "Implementation progress reports"
The reactive disclosure section of the CoST IDS has the following element:

CoST clarified that this element can be satisfied with either documents or structured data and that progress reports relate to the project as a whole rather than individual contracting processes.

## Research

Based on reviewing examples from from [Afghanistan](https://ageops.net/en/procurement-procedure/contract/progress/

[2021-01-27 17:18] jpmckinney commented on #277
Sounds good to me!

[2021-01-27 22:01] duncandewhurst opened #278 "Update worked example to include new fields and codes for CoST IDS reactive disclosures"

[2021-01-27 23:18] duncandewhurst opened #280 "borrow-schema.py pulls in deprecated fields from OCDS"
@jpmckinney https://github.com/open-contracting-extensions/public-private-partnerships/commit/6ac22611d2b85c40d065d353de0c8ba407e7912d seems to have introduced deprecated fields from OCDS into the OCDS for PPPs schema and so `borrow-schema.py` now pulls these into the OC4IDS schema.

Was that intentional? If so I can update `borrow-schema.py` to remove deprecated fields, otherwise we should update

[2021-01-27 23:47] duncandewhurst commented on #262
How about:

The IAIA's definition also mentions that social impact assessment includes recommending mitigation measures, hence including it in the above.

[2021-01-29 00:39] jpmckinney commented on #262
Looks good! Just clarifying the first part, where it was hard to read which phrases were modifying which others:

[2021-01-29 00:40] jpmckinney commented on #280
Yes, it was intentional (extensions shouldn't remove fields, only a new major version of OCDS should), so let's update the script here.

[2021-01-31 16:33] EvelynDinora commented on #270
This is a record of the justification for the design approach adopted in the project.
P.D. I don't understand why do not use the word project, when the OC4IDS is about projects not only contracts.

[2021-01-31 16:35] EvelynDinora commented on #271
It is fine by me.

[2021-01-31 16:42] EvelynDinora commented on #273
@duncandewhurst you are right with your assumption: a completion certificate relates to the completion of the whole project, whereas a payment certificate relates to the completion of the works or services specified on a contractors estimate or invoice, of which there might be many during the course of a project.

[2021-01-31 20:19] duncandewhurst commented on #273
Thanks, Evelyn! @jpmckinney are you happy to have separate codes on that basis?

[2021-01-31 20:25] duncandewhurst commented on #270
Thanks, Evelyn. I believe James' recommendation to omit 'project' from the code is simply for brevity, otherwise all codes related to the project would begin with 'project'.

@jpmckinney are you happy with the following, based on Evelyn's clarification?

[2021-01-31 23:44] #217 closed, assigned to pindec

[2021-02-01 09:49] EvelynDinora commented on #270
@duncandewhurst Understood. Yes, I am happy with your proposal. Many thanks!

[2021-02-01 11:44] pindec opened #284 "Classification object missing uri property"
OCDS `Classification` objects have `uri` properties:

[code]

OC4IDS `Classification` objects do not, even though the `Classification/description` says "It is useful to also publish a text label and/or URI that users can draw on to interpret the classification":
[code]

This means some data is lost during ocdskit convert-to-oc4ids for OCDS for PPPs where `project.planning.sector` data is present (

[2021-02-01 22:23] duncandewhurst commented on #244
Example (shared in CRM-6710):

[code]

[2021-02-01 22:35] duncandewhurst commented on #253
Example (shared in CRM-6710):

[code]

[2021-02-01 23:51] duncandewhurst commented on #284
Good spot. Looks like `borrow-schema.py` drops `uri` when copying the Classification definition from OCDS: https://github.com/open-contracting/infrastructure/blob/e0d8490d084a708e951c75c208ecd275ca5e673c/schema/borrow-schema.py#L280

We should either reinstate it or update `description` to remove 'and/or URI'.

@jpmckinney do you have a view?

[2021-02-02 04:26] jpmckinney commented on #284
It seems Tim decided to omit it according to this issue #3, and I didn't have a strong feeling about at the time. Now, I think it's better to have alignment with OCDS, so would prefer to reinstate it.

[2021-02-02 04:30] jpmckinney commented on #270
Yes, looks good! For posterity, what is the source of the second clause ("typically issued...")?

[2021-02-02 04:37] jpmckinney commented on #273
Yes, but is there any change we can make to the codes' descriptions to make the distinction clearer?

[2021-02-02 21:25] duncandewhurst commented on #273
How about the following. I also replaced 'contractor' with 'supplier' to align with the terminology used elsewhere in OC4IDS and put the first clause in present tense to match the second clause:

We could also update the completion certificate description as follows, in order to:

* make the distinction clearer
* align with the structure of the payment certificate description
* to remove the repet

[2021-02-02 21:58] duncandewhurst commented on #270
@EvelynDinora provided the description in the document shared in CRM-6221

[2021-02-02 22:33] jpmckinney commented on #273
Sounds good - let's go with your suggested paymentCertificate description. Can you open an OCDS issue for completionCertificate?

[2021-02-02 22:36] #264 closed, assigned to duncandewhurst

[2021-02-03 12:15] pindec commented on #210
See also ocdskit convert-to-oc4ids issue [#165](https://github.com/open-contracting/ocdskit/issues/165)

[2021-02-03 19:21] #277 closed, assigned to duncandewhurst

[2021-02-03 19:21] #280 closed, assigned to jpmckinney

[2021-02-10 22:10] duncandewhurst opened #286 "Add a Value.date field"
See https://github.com/open-contracting/standard/issues/988

Value dates came up in the context of infrastructure when looking at the [RICS ICMS](https://www.rics.org/uk/upholding-professional-standards/sector-standards/construction/icms-international-construction-measurement-standards/) which includes a 'base date of costs' field.

Edit: Noting that a field added to OCDS would eventually appear i

[2021-02-11 01:44] duncandewhurst opened #287 "Cost measurements"
# Background

SIF's SOURCE platform collects detailed cost estimates for capital costs and operation and maintenance costs. SIF wish to publish this data in OC4IDS to facilitate like for like comparisons between projects.

SIF clarified that a cost estimate differs from the budget for a project and from the items being procured for a project:

* budget - the amount and source of the funds allocate

[2021-02-11 21:06] #261 closed, assigned to pindec

[2021-02-11 21:06] #263 closed, assigned to pindec

[2021-02-11 21:06] #265 closed, assigned to pindec

[2021-02-11 21:06] #266 closed, assigned to pindec

[2021-02-11 21:06] #267 closed, assigned to pindec

[2021-02-11 21:06] #268 closed, assigned to pindec

[2021-02-11 21:06] #269 closed, assigned to pindec

[2021-02-11 21:06] #272 closed, assigned to pindec

[2021-02-11 21:06] #274 closed, assigned to pindec

[2021-02-11 21:06] #275 closed, assigned to pindec

[2021-02-11 23:14] jpmckinney commented on #287
Thank you for the thorough issue description and proposal!

✅ to adding a new field rather than re-using `forecasts`. Although `forecasts`' structure can accommodate the data we have seen so far, (1) it's not guaranteed that the structure of forecast metrics of physical/financial progress will continue to align with that of cost estimates and (2) the semantics are different in any case.

✅ `costMe

[2021-02-12 01:37] duncandewhurst commented on #287
Where did you find the JSON schema for the 2nd edition? I was looking at ICMS 2nd edition PDF ([available here](https://www.rics.org/uk/upholding-professional-standards/sector-standards/construction/icms-international-construction-measurement-standards/)) as I could only find schema files for the first edition ([available here](https://www.rics.org/uk/upholding-professional-standards/sector-standa

[2021-02-12 02:09] #273 closed, assigned to nobody

[2021-02-12 02:14] jpmckinney commented on #287
Good question! I must have gotten it here, since my files are identical: https://github.com/aknight-rics/RICS-Data-Standard I don't remember how I found it or whether the link was sent to me. It's not in my email or Google Drive.

Note that the README says it is a "pre-offical [sic] release of version 3.x". We should contact RICS about any official release. This might explain why the codelist in m

[2021-02-14 21:59] duncandewhurst commented on #287
I've added a TO-DO to the issue description to ask RICS.

Unfortunately not, I've added a TO-DO to the issue description to ask RICS.

Yes, that's right. Each `Cost` belongs to a single category. However, in the proposed model `categories` (`scope`) is a property of `CostMeasurement` describing what categories of cost are included in the measurement.

Effectively, `categories` is a summary field,

[2021-02-17 05:26] jpmckinney commented on #287
In `rics-3.1.0.json` there's an object with a field for the category and a field for an array of costs. (This object can be repeated.) In other words, acquisition costs are listed together, construction costs are listed together, etc. and they are never mixed. The only reasons we'd need `categories` instead of `category` is if:

* the array of costs contains a cost that fits into multiple categori

[2021-02-17 19:52] #270 closed, assigned to nobody

[2021-02-17 19:53] #262 closed, assigned to pindec

[2021-02-17 19:53] #271 closed, assigned to pindec

[2021-02-18 01:38] duncandewhurst commented on #287
SOURCE uses higher-level categories ('capital costs' and 'operation and maintenance costs') to group costs, so I've tried to map the individual SOURCE cost codes to the ICMS categories, but some mappings aren't straightforward. It's possible that some  would require additional category codes:

**SOURCE Capital costs**

| SOURCE Category | SOURCE Cost | SOURCE Description | ICMS Category |
| -- | -

[2021-02-18 03:24] jpmckinney commented on #287
Thanks! I've just been trying to (1) determine if we can be satisfied with a single `category` or if we really need an array, and (2) align with ICMS unless we need to differ.

Since the `category` field is only on the parent, if it allowed multiple values, it'd be impossible to determine which costs relate to which category.

If we wanted to preserve a single `category`:

* If SOURCE only has hig

[2021-02-19 00:26] duncandewhurst commented on #287
Ah, I see. So my thinking was that OC4IDS would only concern itself with:

1. The actual classification used in the source data (`Cost.classification`)
2. A high-level summary of the cost categories included in a measurement (`CostMeasurement.categories`)

Users could then lookup `Cost.classification` if they needed to know more about what category a specific classification belongs to or where it

[2021-02-19 02:00] jpmckinney commented on #287
Thanks for clarifying. Item classification in procurement is somewhat standardized and documented, such that a user can more easily determine the category based on the classification (if provided). I'm not sure whether the classifications used in infrastructure systems are equally standardized and/or documented. My sense was that they were more bespoke, in which case a user would have more difficu

[2021-02-22 02:18] duncandewhurst commented on #287
I'm waiting for feedback from SIF on mapping to the ICMS categories.

In any case, with a single `category` field I think we'd need to use an open codelist, as other implementers may have higher-level categories that map to multiple ICMS categories.

I prefer adding another level of nesting, since ICMS includes some other attributes at the cost measurement level that, whilst not necessary for SOUR

[2021-02-22 02:40] duncandewhurst opened #292 "Consider adding or aligning to attributes from ICMS to support cost comparisons"
[ICMS](https://www.rics.org/oceania/upholding-professional-standards/sector-standards/construction/icms-international-construction-measurement-standards/) includes various project attributes to support cost comparisons. According to ICMS:

We should review ICMS's attributes for:

1. attributes in common with OC4IDS, which may be opportunities to align or improve OC4IDS's field descriptions and/or

[2021-03-02 22:42] duncandewhurst commented on #210
For posterity, @pindec's notes from reviewing the mapping are in a [Google Doc](https://docs.google.com/document/d/1zJs64sY76O5-9YhFozgtlTd98YFiSGAFB8TOK176664/edit#).

[2021-03-10 05:53] duncandewhurst commented on #278
I've pushed a branch with the latest version of the reactive disclosure element mappings which you can use as a reference: https://standard.open-contracting.org/staging/infrastructure/220-reactive-mappings/en/cost/ if you spot any issues please comment on the PR: https://github.com/open-contracting/infrastructure/pull/295

Some of the issues for new fields include example data which you can reuse:

[2021-03-10 13:52] pindec commented on #278
Great, thanks @duncandewhurst.

[2021-03-15 00:54] duncandewhurst opened #296 "Sphinx: Specify which columns from CSV files to include or exclude"
From https://github.com/open-contracting/infrastructure/pull/294#issuecomment-797765931

This would enable us to maintain one set of mapping tables but render them differently in different parts of the documentation.

I'm not sure of the best implementation approach, but options include:

* add an option to the [csv-table-no-translate](https://sphinxcontrib-opendataservices.readthedocs.io/en/lates

[2021-03-16 01:10] duncandewhurst commented on #249
Adding an example, based on SOURCE's data:

[code]

[2021-03-16 01:10] duncandewhurst commented on #248
Adding an example, based on SOURCE's data:

[code]

[2021-03-16 01:13] duncandewhurst commented on #250
Adding an example, based on SOURCE's data:

[code]

[2021-03-16 02:49] duncandewhurst opened #297 "Work items"
SIF SOURCE collects data on the work items that make up an infrastructure project and the attributes of each work item, in order to support cost comparisons.

Work items may differ from the items being procured in the contracting processes associated with the project.

SIF SOURCE defines sector-specific lists of work items and attributes. Projects can have multiple of each type of work item and us

[2021-03-17 03:16] jpmckinney commented on #249
Can we merge with #248?

We can consider renaming the field, since its values are broader than in OCDS.

[2021-03-17 14:06] jpmckinney commented on #297
I think instead of numeric IDs we should recommend human-readable IDs, e.g. a lowercase, abbreviated version of the `name`.

Can you share some examples of the different semantics? I want to be sure we have no choice but to use attributes, whose downside is that it is fairly semantics-free from the schema's perspective.

I don't recommend it. If we end up using the same model later, we have an unn

[2021-03-17 14:06] jpmckinney commented on #297
Oh, we can also allow either strings or numbers in value.

[2021-03-17 20:27] duncandewhurst commented on #297
How would that work for the example in which there are two dams?

If the work item is a reservoir, then the category is the type of sediment management, but if the work item is a car park, then the category is the type of pavement.

If the work item is a turbine, then the description is its capacity in megawatts, but if the work item is an access road, then the description is its width in meters.

[2021-03-17 20:45] duncandewhurst commented on #249
Yes, sure.

[2021-03-18 03:02] jpmckinney commented on #297
Sorry - I meant only for the attributes.

Hmm, we might find that some attributes are common enough to promote as individual fields, but for now we can leave them under attributes until we aggregate more demand / collect more evidence.

Can you update the [examples](https://docs.google.com/document/d/1h4G5-Nb27ICHVaa5Lv0icFpzoaMKtJe5jVQB8b4MEac/edit?usp=sharing) you shared to not embed any fields

[2021-03-18 03:04] #249 closed, assigned to nobody

[2021-03-18 03:06] jpmckinney commented on #249
I've updated #248 with this issue's description and updated my first comment.

[2021-03-18 21:26] duncandewhurst opened #299 "Move content describing the use of the schema from the worked example to the schema reference"
From https://github.com/open-contracting/infrastructure/pull/298#pullrequestreview-615814396

e.g.

At the same time, we can also rephrase to use active voice.

[2021-03-18 21:55] duncandewhurst commented on #296
Once done, we can also add a column that simply lists the relevant OCDS field paths without the mapping logic (currently, it would make the tables too crowded).

[2021-03-18 21:56] #210 closed, assigned to pindec, duncandewhurst

[2021-03-18 21:56] #216 closed, assigned to duncandewhurst

[2021-03-18 22:03] #220 closed, assigned to nobody

[2021-03-18 22:14] #284 closed, assigned to pindec

[2021-03-18 22:41] #223 closed, assigned to nobody

[2021-03-19 02:40] duncandewhurst commented on #297
Done!

[2021-03-19 22:24] jpmckinney commented on #126
Noting that https://github.com/open-contracting/standard/issues/548 ultimately decided on 'contractImplementationManager'

[2021-03-19 22:36] jpmckinney opened #302 "Switch to MyST Parser"
See https://github.com/open-contracting/standard_profile_template/issues/36

Can use this script https://gist.github.com/jpmckinney/88c846651ab5411d1ed3a6fe222ce08f

Update to latest profile template as well.

[2021-03-19 22:47] jpmckinney opened #303 "META: Timeline and milestones"
Is there a rough timeline for an OC4IDS release? I see the project board is just about done: https://github.com/open-contracting/infrastructure/projects/2 I figure we want to add the [bug](https://github.com/open-contracting/infrastructure/labels/bug) and [build process](https://github.com/open-contracting/infrastructure/labels/build%20process) issues. The only milestone is 1.0, but I don't know i

[2021-03-26 12:12] pindec commented on #241
Fixed in #298

[2021-03-26 12:14] pindec opened #304 "Create new blank.json"
Split from #298 for clarity.

We need a new blank.json file to reflect schema changes.

[2021-03-29 08:33] duncandewhurst commented on #303
I'm keen to get the reactive disclosures work deployed, so let's target a 0.9.3 with the additions you suggest. We can then discuss the roadmap for 1.0.

Timeline-wise, the worked example updates should be done by this week but the bug fixes will probably need to wait until next week. So if you could tackle the build issues by the end of next week we should be good to do the release in w/c 12th Ap

[2021-03-29 15:07] jpmckinney commented on #303
I added issues to the 0.9.3 milestone: https://github.com/open-contracting/infrastructure/milestone/6

Any other untagged issues to include? https://github.com/open-contracting/infrastructure/issues?page=1&q=is%3Aopen+is%3Aissue+no%3Amilestone

[2021-03-30 02:56] duncandewhurst commented on #303
Great, thanks.

No others to include. I prefer to keep the schema, codelists and docs changes in this release to just those required for the reactive disclosures (plus bug fixes).

[2021-03-30 20:52] duncandewhurst commented on #297
Yes, that is my concern with the approach in the item attributes extension, which uses a string `value` field.

The value of an attribute in the proposed model can be either a string or a number, so let's allow a string or a number.

[2021-03-30 21:26] duncandewhurst commented on #297
Here's an updated example, with the changes discussed above:

[code]

[2021-03-31 20:32] jpmckinney opened #306 "Spell-check / Grammar-check"
https://caderek.github.io/gramma/ for checking individual files in interactive mode

https://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/technical/spellcheck.html

[2021-04-01 01:29] duncandewhurst opened #307 "Add examples of different geometry types"
On a call with CoST West Lombok (notes in CRM-7083#note-15) they asked for examples of how to represent different geometry types in `locations/geometry`.

The worked example in the OC4IDS documentation contains only a `Point` geometry, so I showed the `LineString` example in the [Location extension documentation](https://extensions.open-contracting.org/en/extensions/location/), but this caused som

[2021-04-01 02:21] jpmckinney commented on #307
We might link to examples:

https://en.wikipedia.org/wiki/GeoJSON#Geometries
https://tools.ietf.org/html/rfc7946#section-1.5
https://docs.mongodb.com/manual/reference/geojson/

[2021-04-01 20:53] #303 closed, assigned to duncandewhurst

[2021-04-01 20:54] #304 closed, assigned to pindec

[2021-04-01 22:55] #278 closed, assigned to pindec

[2021-04-02 00:00] #247 closed, assigned to nobody

[2021-04-02 01:21] #239 closed, assigned to nobody

[2021-04-02 03:08] jpmckinney opened #311 "mapping: Add columns to list the relevant OC4IDS and OCDS field paths without the mapping logic"
Follow-up to #296

[2021-04-02 04:34] jpmckinney commented on #235
@duncandewhurst Ideally, OC4IDS 0.9.3 would align with the new version of OCDS for PPPs, which only has a few issues left.

[2021-04-16 17:54] jpmckinney opened #312 "Configure Fathom Analytics tracking code"
* [x] Update theme to use Sphinx configuration instead of hardcoded value
* [x] Update conf.py with tracking code

Depends on #302

[2021-04-16 18:37] jpmckinney commented on #312
Nevermind - did it without #302 in 029c5620aa6372cade0df2749d9bcde052a46d54

[2021-04-16 18:37] #312 closed, assigned to nobody

[2021-04-21 08:37] #241 closed, assigned to nobody

[2021-04-21 15:25] jpmckinney commented on #213
OCDS for PPPs no longer edits the release tag codelist. open-contracting-extensions/ocds_ppp_extension#11

[2021-04-21 15:25] #213 closed, assigned to pindec

[2021-04-22 17:10] #306 closed, assigned to duncandewhurst

[2021-04-22 19:21] #296 closed, assigned to nobody

[2021-04-22 19:21] #302 closed, assigned to nobody

[2021-04-23 10:20] pindec opened #316 "Ambiguous wording around worked example file implying it's always complete w.r.t. latest schema"
The [worked example page](https://github.com/open-contracting/infrastructure/blob/0.9-dev/docs/guidance/example.md) could be interpreted to imply that the example contains all possible fields from the schema:

However, this is not necessarily the case: we don't programmatically check that the [example file](https://github.com/open-contracting/infrastructure/blob/0.9-dev/docs/examples/example.json)

[2021-04-23 14:34] jpmckinney commented on #316
Is this for 0.9.3 or later?

[2021-04-26 08:30] pindec commented on #316
Either - the issue came up with a publisher the other day.

The PR would be straightforward, so I can add for 0.9.3 if appropriate.

[2021-04-26 17:45] jpmckinney commented on #316
Okay, happy to merge a PR for 0.9.3 :)

[2021-04-27 14:56] #316 closed, assigned to pindec

[2021-04-28 22:42] duncandewhurst opened #319 "Clarify project budget description"
@juanpane mentioned that implementers commonly misinterpret the `budget` field in OC4IDS as the budget for the investment project the infrastructure project relates to, rather than the budget for the infrastructure project itself.

The difference between infrastructure projects and investment projects is already covered in the getting started documentation, but, in order to address the misinterpre

[2021-04-30 01:55] #235 closed, assigned to duncandewhurst

[2021-05-04 03:14] duncandewhurst opened #322 "Distinguishing between real and projected costs"
Similar to the issue discussed in #140, OC4IDS currently lacks a means to separately publish the budget for a project and the projected cost.

The CoST IDS has the following elements, which have some semantic overlap:

CoST IDS element | CoST IDS description | OC4IDS mapping
-- | -- | --
Project Budget | Specify the projected costs/allocated budget for the project (currency and amount). The budget

[2021-05-07 10:30] pindec opened #325 "Replace placeholders in example OC4IDS JSON file"
The [example OC4IDS JSON file](https://standard.open-contracting.org/infrastructure/latest/en/_static/example.json) contains some placeholder values that should be replaced to avoid confusion.

They include:
* Duplicate contactPoint fields for different parties (the same party/contactPoint/telephone value appears 4 times, the same party/contactPoint/faxNumber appears 3 times, duplicate uses of www

[2021-05-17 09:38] pindec opened #326 "Add third-party OC4IDS tools to documentation"
Nuevo Leon's Infraestructura Abierta is an [open-source OC4IDS visualisation tool](https://github.com/INAImexico/infraestructura-abierta) and a good example of displaying infrastructure projects (from OC4IDS data), related contracting processes (from OCDS records data) and aggregated OC4IDS indicators (from OC4IDS data).

We should add it (and any other examples that emerge) to the documentation.

[2021-05-17 21:02] duncandewhurst commented on #326
Sounds good! We can also link to the forthcoming technical case study on Nuevo Leon's implementation.

[2021-05-21 01:41] duncandewhurst opened #327 "convert-to-oc4ids: replace links to OCDS Kit with links to OC4IDS Kit"
See CRM-7260.

[Search results](https://standard.open-contracting.org/staging/infrastructure/0.9-dev/en/search/?q=%22convert-to-oc4ids%22&check_keywords=yes&area=default#)

The command name has changed too: https://oc4idskit.readthedocs.io/en/latest/cli.html#convert-from-ocds

[2021-05-23 21:39] duncandewhurst opened #328 "LinkedRelease.tag required in the JSON schema but not in the schema reference documentation"
`tag` is [required in the schema](https://github.com/open-contracting/infrastructure/blob/b1e2f048a1c77d79a1f0894475265e3a6d4ac73e/schema/project-level/project-schema.json#L518) and is shown in bold in the [schema browser ](https://standard.open-contracting.org/staging/infrastructure/0.9-dev/en/reference/browser/), as expected. However, in the [schema reference](https://standard.open-contracting.o

[2021-05-24 16:14] jpmckinney commented on #328
Can you also report the bug on https://github.com/OpenDataServices/sphinxcontrib-opendataservices-jsonschema ?

[2021-06-01 13:55] odscrachel opened #330 "Link to extension explorer for OCDS extensions"
Carrying on from Duncan's ticket in OCDS

[2021-06-07 16:43] jpmckinney commented on #330
Issue from OCDS: https://github.com/open-contracting/standard/issues/1096

[2021-06-16 23:25] duncandewhurst commented on #322
CoST's [Assurance Manual](https://infrastructuretransparency.org/resource/assurance-manual/) (page 36) mentions looking at time and cost variations for in-progress projects.

[2021-06-16 23:28] duncandewhurst commented on #140
CoST's [Assurance Manual](https://infrastructuretransparency.org/resource/assurance-manual/) (page 36) mentions looking at time and cost variations for in-progress projects.

[2021-06-24 08:58] pindec opened #333 "Indicate required field in schema browser with red asterisk"
The [schema browser](https://standard.open-contracting.org/infrastructure/latest/en/reference/browser/#) currently shows required fields in bold.
![image](https://user-images.githubusercontent.com/1897475/123234011-7b319600-d4d2-11eb-81ed-d6cad2b93522.png)

Adding a red asterisk to required fields as well would make it more obvious, as with the [OCDS schema browser](https://standard.open-contracti

[2021-06-24 12:58] jpmckinney commented on #333
This is done on the dev branch: https://standard.open-contracting.org/staging/infrastructure/0.9-dev/en/reference/browser/

[2021-06-24 12:58] #333 closed, assigned to nobody

[2021-07-08 03:44] duncandewhurst opened #334 "Merge additional contacts point extension"
CoST Sekondi-Takoradi are using the [OCDS additional contact points extension](https://extensions.open-contracting.org/en/extensions/additionalContactPoint/master/). We should consider whether to merge the extension into the OC4IDS schema.